{
  "openapi":"3.0.1",
  "info":{
    "title":"Health Facility Registry APIs"
  },
  "externalDocs":{
    "description":"HFR API Documentation",
    "url":"https://sandboxcmssbx.abdm.gov.in/uploads/HFR_AP_Is_Documentation_816eea6b56.pdf"
  },
  "servers":[
    {
      "url":"https://apihspsbx.abdm.gov.in/v4/int"
    }
  ],
  "security":[
    {
      "BearerAuth":[

      ]
    }
  ],
  "paths":{
    "/v1.5/facility/basic-information":{
      "post":{
        "tags":[
          "Onboarding APIs"
        ],
        "operationId":"v15BasicFacilityInformation",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          },
          {
            "name":"x-hprid-auth",
            "in":"header",
            "required":true,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/FacilityBasicInformationRequest"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/FacilityOnboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/additional-information":{
      "post":{
        "tags":[
          "Onboarding APIs"
        ],
        "operationId":"v15FacilityAdditionalInformation",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/FacilityAdditionalInformationRequest"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/FacilityOnboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/detailed-information":{
      "post":{
        "tags":[
          "Onboarding APIs"
        ],
        "operationId":"v15FacilityDetailedInformation",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/FacilityDetailedInformationRequest"
              }
            }
          },
          "required":true
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/FacilityOnboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/submit-facility":{
      "post":{
        "tags":[
          "Onboarding APIs"
        ],
        "operationId":"v15SubmitFacilityDetails",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          },
          {
            "name":"x-hprid-auth",
            "in":"header",
            "required":true,
            "schema":{
              "type":"string"
            }
          },
          {
            "name":"x-hprid-auth-verifier",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/FacilitySubmitDetails"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/FacilitySubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bridges/MutipleHRPAddUpdateServices":{
      "post":{
        "tags":[
          "Multiple HRP API"
        ],
        "operationId":"facilityAddAndUpdate",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/BridgeAddUpdateRequestDTO"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"object"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/validateOtp":{
      "post":{
        "tags":[
          "HFR-HRP Linkage APIs"
        ],
        "operationId":"validateOtp",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/ValidateOtpRequestDto"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/ValidateOtpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/sendOtpToContact":{
      "post":{
        "tags":[
          "HFR-HRP Linkage APIs"
        ],
        "operationId":"sendOtpToContact",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/FacilityContactDetails"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/FacilityOtpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/get-specialities":{
      "post":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getAllSpecialitiesBySystemOfMedicineCode",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/SpecialitiesUtilityRequestDto"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"object"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/get-owner-subtype":{
      "post":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getAllSubTypesByOwnerShipTypeAndSubType",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/SubTypeUtilityRequestDto"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"object"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/fetchFacilityContDetails":{
      "post":{
        "tags":[
          "Microsite APIs"
        ],
        "operationId":"getFacilityDetails",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/FacilityContactDetails"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/FacilityContResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/fetch-facility-type":{
      "post":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getAllFacilityTypeByOwnershipAndSysOfMed",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/UtilityFacilityTypeReqDto"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"object"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/fetch-facility-Sub-type":{
      "post":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getAllFacilitySubTypeByFacilityType",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/UtilityFacilitySubTypeReqDto"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"object"
                }
              }
            }
          }
        }
      }
    },
    "/search/address/filter/deduplicate":{
      "post":{
        "tags":[
          "Search"
        ],
        "operationId":"getFilteredAddressPost",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":true,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/AddressFilterRequest"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"array",
                  "items":{
                    "$ref":"#/components/schemas/DeduplicateResponseDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FacilityManagement/v1.5/facility/search":{
      "post":{
        "tags":[
          "Search"
        ],
        "operationId":"searchFacility",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "requestBody":{
          "content":{
            "application/json":{
              "schema":{
                "$ref":"#/components/schemas/SearchFacilityRequestDTO"
              }
            }
          }
        },
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/FacilitySearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/lgd/subdistricts":{
      "get":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getAllSubDistrictByDistrictCode",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          },
          {
            "name":"districtCode",
            "in":"query",
            "required":true,
            "schema":{
              "type":"string"
            }
          }
        ],
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"array",
                  "items":{
                    "$ref":"#/components/schemas/UtilityCodeNameResDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/lgd/states":{
      "get":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getAllStatesByLGD",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"array",
                  "items":{
                    "$ref":"#/components/schemas/StatesUtilityResponseDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/lgd/districts":{
      "get":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getAllDistrictByStateId",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          },
          {
            "name":"stateCode",
            "in":"query",
            "required":true,
            "schema":{
              "type":"string"
            }
          }
        ],
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "type":"array",
                  "items":{
                    "$ref":"#/components/schemas/UtilityCodeNameResDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/get-master-types":{
      "get":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getAllMasterType",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          }
        ],
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/MasterTypeResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1.5/facility/get-master-data":{
      "get":{
        "tags":[
          "Utilities"
        ],
        "operationId":"getMasterData",
        "parameters":[
          {
            "name":"Authorization",
            "in":"header",
            "required":false,
            "schema":{
              "type":"string"
            }
          },
          {
            "name":"type",
            "in":"query",
            "required":true,
            "schema":{
              "type":"string"
            }
          }
        ],
        "responses":{
          "404":{
            "description":"Not Found",
            "content":{
              "*/*":{
                "schema":{
                  "type":"string"
                }
              }
            }
          },
          "200":{
            "description":"OK",
            "content":{
              "*/*":{
                "schema":{
                  "$ref":"#/components/schemas/UtilityTypeDataResDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components":{
    "schemas":{
      "BridgeAddUpdateRequestDTO":{
        "required":[
          "facilityId",
          "facilityName"
        ],
        "type":"object",
        "properties":{
          "facilityId":{
            "pattern":"^IN\\d+$",
            "type":"string"
          },
          "facilityName":{
            "type":"string"
          },
          "HRP":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/MultipleHRPRequest"
            }
          }
        }
      },
      "MultipleHRPRequest":{
        "required":[
          "active",
          "bridgeId",
          "hipName",
          "type"
        ],
        "type":"object",
        "properties":{
          "bridgeId":{
            "type":"string"
          },
          "hipName":{
            "type":"string"
          },
          "type":{
            "type":"string"
          },
          "active":{
            "type":"boolean"
          }
        }
      },
      "ValidateOtpRequestDto":{
        "type":"object",
        "properties":{
          "facilityId":{
            "type":"string"
          },
          "sourceId":{
            "type":"string"
          },
          "otp":{
            "type":"string"
          },
          "source":{
            "type":"string"
          },
          "transactionId":{
            "type":"string"
          }
        }
      },
      "ErrorStatus":{
        "type":"object",
        "properties":{
          "field":{
            "type":"string"
          },
          "message":{
            "type":"string"
          }
        }
      },
      "ValidateOtpResponse":{
        "type":"object",
        "properties":{
          "facilityId":{
            "type":"string"
          },
          "status":{
            "type":"string"
          },
          "message":{
            "type":"string"
          },
          "errorStatus":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/ErrorStatus"
            }
          }
        }
      },
      "FacilitySubmitDetails":{
        "required":[
          "trackingId"
        ],
        "type":"object",
        "properties":{
          "trackingId":{
            "pattern":"^[0-9]+$",
            "type":"string"
          },
          "sourceOfInformation":{
            "type":"string"
          },
          "sourceUniqueID":{
            "type":"string"
          },
          "facilitySuperUser":{
            "type":"string"
          }
        }
      },
      "FacilitySubmitResponse":{
        "type":"object",
        "properties":{
          "facilityId":{
            "type":"string"
          },
          "status":{
            "type":"string"
          },
          "message":{
            "type":"string"
          }
        }
      },
      "FacilityContactDetails":{
        "type":"object",
        "properties":{
          "facilityId":{
            "type":"string"
          }
        }
      },
      "FacilityOtpResponse":{
        "type":"object",
        "properties":{
          "facilityId":{
            "type":"string"
          },
          "status":{
            "type":"string"
          },
          "message":{
            "type":"string"
          },
          "transactionId":{
            "type":"string"
          },
          "errorStatus":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/ErrorStatus"
            }
          }
        }
      },
      "SpecialitiesUtilityRequestDto":{
        "required":[
          "systemOfMedicineCode"
        ],
        "type":"object",
        "properties":{
          "systemOfMedicineCode":{
            "pattern":"^(?i)(A|D|DIAG|H|IMAGE|M|P|SD|SR|UN|YN)$",
            "type":"string"
          }
        }
      },
      "SubTypeUtilityRequestDto":{
        "required":[
          "ownerSubtypeCode",
          "ownershipCode"
        ],
        "type":"object",
        "properties":{
          "ownershipCode":{
            "maxLength":2,
            "minLength":0,
            "pattern":"^(?i)(G|P|PP)$",
            "type":"string"
          },
          "ownerSubtypeCode":{
            "pattern":"^(?i)(C|P|NP)$",
            "type":"string"
          }
        }
      },
      "FacilityContDetails":{
        "type":"object",
        "properties":{
          "facStatus":{
            "type":"string"
          },
          "stateCode":{
            "type":"string"
          },
          "facilityOwnership":{
            "type":"string"
          },
          "totalNoOfBeds":{
            "type":"string"
          },
          "districtCode":{
            "type":"string"
          },
          "facilityId":{
            "type":"string"
          },
          "facilityName":{
            "type":"string"
          },
          "contactName":{
            "type":"string"
          },
          "contactMobile":{
            "type":"string"
          },
          "facilityAddress":{
            "type":"string"
          },
          "latitude":{
            "type":"string"
          },
          "longitude":{
            "type":"string"
          },
          "facilityType":{
            "type":"string"
          },
          "hiecmDetail":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/HiecmDetails"
            }
          },
          "reviews":{
            "type":"object"
          }
        }
      },
      "FacilityContResponseDto":{
        "type":"object",
        "properties":{
          "facilityDetails":{
            "$ref":"#/components/schemas/FacilityContDetails"
          },
          "status":{
            "type":"string"
          },
          "message":{
            "type":"string"
          },
          "transactionId":{
            "type":"string"
          },
          "errorStatus":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/ErrorStatus"
            }
          }
        }
      },
      "HiecmDetails":{
        "type":"object",
        "properties":{
          "hiecmSoftware":{
            "type":"string"
          },
          "isActiveHiecm":{
            "type":"string"
          },
          "hipname":{
            "type":"string"
          },
          "hipid":{
            "type":"string"
          }
        }
      },
      "UtilityFacilityTypeReqDto":{
        "required":[
          "ownershipCode",
          "systemOfMedicineCode"
        ],
        "type":"object",
        "properties":{
          "ownershipCode":{
            "maxLength":2,
            "minLength":0,
            "pattern":"^(?i)(G|P|PP)$",
            "type":"string"
          },
          "systemOfMedicineCode":{
            "pattern":"^[A-Za-z\\s,]*$",
            "type":"string"
          }
        }
      },
      "UtilityFacilitySubTypeReqDto":{
        "required":[
          "facilityTypeCode"
        ],
        "type":"object",
        "properties":{
          "facilityTypeCode":{
            "pattern":"^[0-9\\s]*$",
            "type":"string"
          }
        }
      },
      "FacilityBloodBankDetails":{
        "type":"object",
        "properties":{
          "isFacilityRegisteredInERaktkosh":{
            "type":"string"
          },
          "eRaktoshId":{
            "type":"string"
          },
          "bloodBankLicenseNumber":{
            "type":"string"
          },
          "bloodStorageCenters":{
            "type":"string"
          },
          "storageCentersCount":{
            "type":"integer",
            "format":"int32"
          },
          "bloodCollectedPerAnnum":{
            "type":"string"
          },
          "bloodRequiredPerAnnum":{
            "type":"string"
          }
        }
      },
      "FacilityDetailedInformationRequest":{
        "type":"object",
        "properties":{
          "trackingId":{
            "type":"string"
          },
          "specialities":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/FacilitySpecialities"
            }
          },
          "medicalInfrastructure":{
            "$ref":"#/components/schemas/FacilityMedicalInfrastructure"
          },
          "pharmacyDetails":{
            "$ref":"#/components/schemas/FacilityPharmacyDetails"
          },
          "bloodBankDetails":{
            "$ref":"#/components/schemas/FacilityBloodBankDetails"
          },
          "imagingServices":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/FacilityImagingServices"
            }
          },
          "diagnosticServices":{
            "type":"array",
            "items":{
              "type":"string"
            }
          }
        }
      },
      "FacilityImagingServices":{
        "type":"object",
        "properties":{
          "service":{
            "type":"string"
          },
          "count":{
            "type":"integer",
            "format":"int32"
          }
        }
      },
      "FacilityMedicalInfrastructure":{
        "type":"object",
        "properties":{
          "countIPDBedsWithoutOxygen":{
            "type":"integer",
            "format":"int32"
          },
          "countIPDBedsWithOxygen":{
            "type":"integer",
            "format":"int32"
          },
          "countICUBedsWithVentilators":{
            "type":"integer",
            "format":"int32"
          },
          "countICUBedsWithoutVentilators":{
            "type":"integer",
            "format":"int32"
          },
          "countHDUBedsWithVentilators":{
            "type":"integer",
            "format":"int32"
          },
          "countHDUBedsWithoutVentilators":{
            "type":"integer",
            "format":"int32"
          },
          "totalNumberOfVentilators":{
            "type":"integer",
            "format":"int32"
          },
          "countDayCareBedsWithoutOxygen":{
            "type":"integer",
            "format":"int32"
          },
          "countDayCareBedsWithOxygen":{
            "type":"integer",
            "format":"int32"
          },
          "countDentalChairs":{
            "type":"integer",
            "format":"int32"
          },
          "totalNumberOfBeds":{
            "type":"integer",
            "format":"int32"
          }
        }
      },
      "FacilityPharmacyDetails":{
        "type":"object",
        "properties":{
          "isJanAushadhiKendra":{
            "type":"string"
          },
          "janAushadhiKendraId":{
            "type":"string"
          },
          "drugLicenseNumber":{
            "type":"string"
          },
          "pharmacyGstinNumber":{
            "type":"string"
          },
          "pharmacistRegistrationNumber":{
            "type":"string"
          }
        }
      },
      "FacilitySpecialities":{
        "type":"object",
        "properties":{
          "systemOfMedicineCode":{
            "type":"string"
          },
          "isSpecializationAvalaible":{
            "type":"string"
          },
          "specialities":{
            "type":"array",
            "items":{
              "type":"string"
            }
          }
        }
      },
      "FacilityOnboardResponse":{
        "type":"object",
        "properties":{
          "trackingId":{
            "type":"string"
          },
          "status":{
            "type":"string"
          },
          "message":{
            "type":"string"
          },
          "errorStatus":{
            "type":"array",
            "items":{
              "type":"object"
            }
          }
        }
      },
      "AbdmCompliantSoftware":{
        "type":"object",
        "properties":{
          "existingSoftwares":{
            "type":"array",
            "items":{
              "type":"string"
            }
          },
          "anyOther":{
            "type":"string"
          }
        }
      },
      "FacilityBasicAttachment":{
        "type":"object",
        "properties":{
          "name":{
            "type":"string"
          },
          "value":{
            "type":"string"
          }
        }
      },
      "FacilityBasicInfoAddress":{
        "type":"object",
        "properties":{
          "country":{
            "type":"string"
          },
          "stateLGDCode":{
            "type":"string"
          },
          "districtLGDCode":{
            "type":"string"
          },
          "subDistrictLGDCode":{
            "type":"string"
          },
          "facilityRegion":{
            "type":"string"
          },
          "villageCityTownLGDCode":{
            "type":"string"
          },
          "addressLine1":{
            "type":"string"
          },
          "addressLine2":{
            "type":"string"
          },
          "pincode":{
            "type":"string"
          },
          "latitude":{
            "type":"string"
          },
          "longitude":{
            "type":"string"
          }
        }
      },
      "FacilityBasicInfoAddressProof":{
        "type":"object",
        "properties":{
          "addressProofType":{
            "type":"string"
          },
          "addressProofAttachment":{
            "$ref":"#/components/schemas/FacilityBasicAttachment"
          }
        }
      },
      "FacilityBasicInfoContact":{
        "type":"object",
        "properties":{
          "facilityEmailId":{
            "type":"string"
          },
          "facilityContactNumber":{
            "type":"string"
          },
          "websiteLink":{
            "type":"string"
          },
          "facilityLandlineNumber":{
            "type":"string"
          },
          "facilityStdCode":{
            "type":"string"
          }
        }
      },
      "FacilityBasicInfoUploads":{
        "type":"object",
        "properties":{
          "facilityBoardPhoto":{
            "$ref":"#/components/schemas/FacilityBasicAttachment"
          },
          "facilityBuildingPhoto":{
            "$ref":"#/components/schemas/FacilityBasicAttachment"
          }
        }
      },
      "FacilityBasicInformation":{
        "type":"object",
        "properties":{
          "facilityName":{
            "type":"string"
          },
          "facilityAddressDetails":{
            "$ref":"#/components/schemas/FacilityBasicInfoAddress"
          },
          "facilityContactInformation":{
            "$ref":"#/components/schemas/FacilityBasicInfoContact"
          },
          "ownershipCode":{
            "type":"string"
          },
          "ownershipSubTypeCode":{
            "type":"string"
          },
          "ownershipSubTypeCode2":{
            "type":"string"
          },
          "typeOfServiceCode":{
            "type":"string"
          },
          "systemOfMedicineCode":{
            "type":"string"
          },
          "facilityTypeCode":{
            "type":"string"
          },
          "specialityTypeCode":{
            "type":"string"
          },
          "facilityUploads":{
            "$ref":"#/components/schemas/FacilityBasicInfoUploads"
          },
          "facilityAddressProof":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/FacilityBasicInfoAddressProof"
            }
          },
          "facilitySubType":{
            "type":"string"
          },
          "facilityOperationalStatus":{
            "type":"string"
          },
          "timingsOfFacility":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/FacilityTimings"
            }
          },
          "abdmCompliantSoftware":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/AbdmCompliantSoftware"
            }
          }
        }
      },
      "FacilityBasicInformationRequest":{
        "type":"object",
        "properties":{
          "facilityInformation":{
            "$ref":"#/components/schemas/FacilityBasicInformation"
          },
          "trackingId":{
            "type":"string"
          }
        }
      },
      "FacilityTimings":{
        "type":"object",
        "properties":{
          "workingDays":{
            "type":"string"
          },
          "openingHours":{
            "type":"string"
          }
        }
      },
      "FacilityAdditionalInformationRequest":{
        "required":[
          "trackingId"
        ],
        "type":"object",
        "properties":{
          "trackingId":{
            "pattern":"^[0-9]+$",
            "type":"string"
          },
          "linkedProgramIds":{
            "$ref":"#/components/schemas/FacilityLinkedProgramIds"
          },
          "generalInformation":{
            "$ref":"#/components/schemas/FacilityGeneralInformation"
          }
        }
      },
      "FacilityGeneralInformation":{
        "type":"object",
        "properties":{
          "hasDialysisCenter":{
            "pattern":"^(YALL|YIN|N)$",
            "type":"string"
          },
          "hasPharmacy":{
            "pattern":"^(YALL|YIN|N)$",
            "type":"string"
          },
          "hasBloodBank":{
            "pattern":"^(YALL|YIN|N)$",
            "type":"string"
          },
          "hasCathLab":{
            "pattern":"^(YALL|YIN|N)$",
            "type":"string"
          },
          "hasDiagnosticLab":{
            "pattern":"^(YALL|YIN|N)$",
            "type":"string"
          },
          "hasImagingCenter":{
            "type":"string"
          },
          "servicesByImagingCenter":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/FacilityServices"
            }
          }
        }
      },
      "FacilityLinkedProgramIds":{
        "type":"object",
        "properties":{
          "nhrrId":{
            "type":"string"
          },
          "nin":{
            "type":"string"
          },
          "abpmjayId":{
            "type":"string"
          },
          "rohiniId":{
            "type":"string"
          },
          "echsId":{
            "type":"string"
          },
          "cghsId":{
            "type":"string"
          },
          "ceaRegistration":{
            "type":"string"
          },
          "stateInsuranceSchemeId":{
            "type":"string"
          }
        }
      },
      "FacilityServices":{
        "type":"object",
        "properties":{
          "service":{
            "type":"string"
          },
          "count":{
            "minimum":0,
            "type":"integer",
            "format":"int32"
          }
        }
      },
      "AddressFilterRequest":{
        "type":"object",
        "properties":{
          "name":{
            "type":"string"
          },
          "address":{
            "type":"string"
          },
          "district":{
            "type":"string"
          },
          "subDistrict":{
            "type":"string"
          },
          "village":{
            "type":"string"
          },
          "geolocation":{
            "type":"string"
          },
          "facilityId":{
            "type":"string"
          }
        }
      },
      "DeduplicateResponseDto":{
        "type":"object",
        "properties":{
          "facility_name":{
            "type":"string"
          },
          "alternate_id":{
            "type":"string"
          },
          "sub_district":{
            "type":"string"
          },
          "district":{
            "type":"string"
          },
          "state":{
            "type":"string"
          },
          "distances":{
            "type":"string"
          }
        }
      },
      "SearchFacilityRequestDTO":{
        "type":"object",
        "properties":{
          "ownershipCode":{
            "type":"string"
          },
          "subDistrictLGDCode":{
            "type":"string"
          },
          "pincode":{
            "type":"string"
          },
          "facilityName":{
            "type":"string"
          },
          "facilityId":{
            "type":"string"
          },
          "page":{
            "type":"integer",
            "format":"int32"
          },
          "resultsPerPage":{
            "type":"integer",
            "format":"int32"
          },
          "stateLGDCode":{
            "type":"string"
          },
          "districtLGDCode":{
            "type":"string"
          }
        }
      },
      "FacilitySearchResponse":{
        "type":"object",
        "properties":{
          "facilities":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/SearchFacilityResponseDTO"
            }
          },
          "message":{
            "type":"string"
          },
          "totalFacilities":{
            "type":"integer",
            "format":"int32"
          },
          "numberOfPages":{
            "type":"integer",
            "format":"int32"
          }
        }
      },
      "SearchFacilityResponseDTO":{
        "type":"object",
        "properties":{
          "ownership":{
            "type":"string"
          },
          "systemOfMedicineCode":{
            "type":"string"
          },
          "systemOfMedicine":{
            "type":"string"
          },
          "facilityType":{
            "type":"string"
          },
          "stateName":{
            "type":"string"
          },
          "stateLGDCode":{
            "type":"string"
          },
          "districtName":{
            "type":"string"
          },
          "districtLGDCode":{
            "type":"string"
          },
          "subDistrictName":{
            "type":"string"
          },
          "subDistrictLGDCode":{
            "type":"string"
          },
          "villageCityTownName":{
            "type":"string"
          },
          "villageCityTownLGDCode":{
            "type":"string"
          },
          "address":{
            "type":"string"
          },
          "pincode":{
            "type":"string"
          },
          "latitude":{
            "type":"string"
          },
          "longitude":{
            "type":"string"
          },
          "facilityId":{
            "type":"string"
          },
          "facilityName":{
            "type":"string"
          },
          "facilityStatus":{
            "type":"string"
          },
          "ownershipCode":{
            "type":"string"
          },
          "facilityTypeCode":{
            "type":"string"
          }
        }
      },
      "UtilityCodeNameResDto":{
        "type":"object",
        "properties":{
          "code":{
            "type":"string"
          },
          "name":{
            "type":"string"
          }
        }
      },
      "StatesUtilityResponseDto":{
        "type":"object",
        "properties":{
          "code":{
            "type":"string"
          },
          "name":{
            "type":"string"
          },
          "districts":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/UtilityCodeNameResDto"
            }
          }
        }
      },
      "MasterTypeResponseDto":{
        "type":"object",
        "properties":{
          "masterTypes":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/UtilityTypeDescSubResDto"
            }
          }
        }
      },
      "UtilityTypeDescSubResDto":{
        "type":"object",
        "properties":{
          "type":{
            "type":"string"
          },
          "desc":{
            "type":"string"
          }
        }
      },
      "UtilityCodeValueResDto":{
        "type":"object",
        "properties":{
          "code":{
            "type":"string"
          },
          "value":{
            "type":"string"
          }
        }
      },
      "UtilityTypeDataResDto":{
        "type":"object",
        "properties":{
          "type":{
            "type":"string"
          },
          "data":{
            "type":"array",
            "items":{
              "$ref":"#/components/schemas/UtilityCodeValueResDto"
            }
          }
        }
      }
    },
    "securitySchemes":{
      "BearerAuth":{
        "type":"http",
        "scheme":"bearer",
        "bearerFormat":"JWT"
      }
    }
  }
}