{"openapi":"3.0.1","info":{"title":"Health Professional Identification APIs"},"servers":[{"url":"https://apihspsbx.abdm.gov.in/v4/int"}],"security":[{"BearerAuth":[]}],"paths":{"/v1/registration/aadhaar/createHprIdWithPreVerified":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"createHprId","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountWithPreVerifiedAadhaar"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateAccountJwtResponse"}}}}}}},"/v1/registration/aadhaar/demographicAuthViaMobile":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"demographicAuthViaMobileAadhaar","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/registration/aadhaar/generateMobileOTP":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"generateMobileOtp","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HPRIDGenerateMobileOTPRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"}}}}}}},"/v1/registration/aadhaar/generateOtp":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"generateOtpAadhaar","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HpidAadhaarGenerateOtpRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HpidAadhaarGenerateResponseDTO"}}}}}}},"/v1/registration/aadhaar/hpid/suggestion":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"getSuggesstion","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HpIdSuggestionRequst"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v1/registration/aadhaar/verifyMobileOTP":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"verifyMobileOTP","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HPRIDVerifyMobileOTPRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HPRIDVerifyMobileOTPResponseDTO"}}}}}}},"/v1/registration/aadhaar/verifyOTP":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"verifyOtpAadhaar","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadharVerifyPayload"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AadharVerifyResponsePayload"}}}}}}},"/v2/registration/aadhaar/createHprIdWithPreVerified":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"createHprIdV2","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountWithPreVerifiedAadhaar"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateAccountJwtResponse"}}}}}}},"/v2/registration/aadhaar/demographicAuthViaMobile":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"demographicAuthViaMobile","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v2/registration/aadhaar/generateOtp":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"generateOtp","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HpidAadhaarGenerateOtpRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HpidAadhaarGenerateResponseDTO"}}}}}}},"/v2/registration/aadhaar/verifyOTP":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"verifyOtp","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadharVerifyPayload"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AadharVerifyResponsePayload"}}}}}}},"/v1/verifyDoctorVerificationOtp":{"post":{"tags":["Verification"],"operationId":"verifyDoctorVerificationOtp","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpRequest"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/sendOtpIfDoctorVerified":{"post":{"tags":["Verification"],"operationId":"sendOtpIfDoctorVerified","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendOtpIfDoctorVerifiedRequest"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/registration/aadhaar/checkHpIdAccountExist":{"post":{"tags":["Registration API's Collection Via Aadhaar"],"operationId":"accountExist","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountExistPayload"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountExistResponsePayload"}}}}}}},"/v1/forgot/hprId/mobile":{"post":{"tags":["Forgot Healthcare Professional ID/number"],"operationId":"retrievalHealthIdByMobile","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetriveHprIdMobilePayLoad"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/forgot/hprId/mobile/generateOtp":{"post":{"tags":["Forgot Healthcare Professional ID/number"],"operationId":"generateMobileOTP","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendOtpRequest"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/forgot/hprId/aadhaar":{"post":{"tags":["Forgot Healthcare Professional ID/number"],"operationId":"retrievalHealthIdByAadhaar","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthAccountAadhaarOTPRequest"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/forgot/hprId/aadhaar/generateOtp":{"post":{"tags":["Forgot Healthcare Professional ID/number"],"operationId":"generateAadhaarOTP","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadhaarOtpWebRequestPayload"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/account/reKYC/verifyAadhaarOTP":{"post":{"tags":["Profile"],"operationId":"verifyAadhaarOTP","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequestDto"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/v1/account/reKYC/verifyAadhaarOTPGetDetails":{"post":{"tags":["Profile"],"operationId":"verifyAadhaarOTPGetDetails","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequestDto"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}}},"/v1/account/reKYC/generateAadhaarOTP":{"post":{"tags":["Profile"],"operationId":"generateAadhaarOTPForReKYC","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}}}}},"/profile/updateRole":{"post":{"tags":["hpid"],"operationId":"updateRoleAndCategory","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountWebRequest"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}}},"/password/resetPassword":{"post":{"tags":["Profile"],"operationId":"resetPassword","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HidOtpWebRequestPaylaod"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasswordChangeDTO"}}}}}}},"/password/recover/confirmByAadhaar":{"post":{"tags":["Profile"],"operationId":"recoverPasswordConfirmByAadhaar","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HidOtpWebRequestPaylaod"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidateAaddhaarDemographicMobileResponseDTO"}}}}}}},"/password/recover/byMobile/verifyMobileOTP":{"post":{"tags":["Profile"],"operationId":"verifyMobileOTP_1","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HidChangePasswordRequestPayload"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/password/recover/byMobile/sendMobileOTP":{"post":{"tags":["Profile"],"operationId":"generateMobileOTP_1","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRequest"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/password/recover/byAadhaar":{"post":{"tags":["Profile"],"operationId":"recoverPasswordViaAadhaar","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRequest"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}}}}},"/password/change/byPassword":{"post":{"tags":["Profile"],"operationId":"changePassword","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HidChangePasswordRequestPayload"}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasswordChangeDTO"}}}}}}},"/healdthloginwithmobile":{"post":{"tags":["hpid"],"operationId":"healdthloginwithmobile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponseDTO"}}}}}}},"/getAdminToken":{"post":{"tags":["hpid"],"operationId":"getAdminToken","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/apis/v1/doctors/verify-mobile-otp":{"post":{"tags":["Verification"],"operationId":"verifyMobileOtp","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AadhaarGenerateOTPResponseDTO"}}}}}}},"/apis/v1/doctors/verify-email-otp":{"post":{"tags":["Verification"],"operationId":"verifyEmailOTP","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailOTPVerificationRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailOTPVerificationResponseDTO"}}}}}}},"/apis/v1/doctors/resent-verify-email":{"post":{"tags":["Verification"],"operationId":"resentVerificationEmail","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailAuthRequestDto"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailAuthResponseDto"}}}}}}},"/apis/v1/doctors/regenerate-mobile-otp":{"post":{"tags":["Verification"],"operationId":"regenerateMobileOTP","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadhaarGenerateOTPRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AadhaarGenerateOTPResponseDTO"}}}}}}},"/apis/v1/doctors/generate-verification-email":{"post":{"tags":["Verification"],"operationId":"sendVerificationEmail","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailAuthRequestDto"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailAuthResponseDto"}}}}}}},"/apis/v1/doctors/generate-mobile-otp":{"post":{"tags":["Verification"],"operationId":"generateMobileOTP_2","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadhaarGenerateOTPRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AadhaarGenerateOTPResponseDTO"}}}}}}},"/api/v2/auth/loginViaMobileSendOTP":{"post":{"tags":["Authentication"],"operationId":"sendVerifyOTP","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendVerifyOtpRequestDto"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SendVerifyOtpResponseDto"}}}}}}},"/api/v2/auth/login/userAuthorizedToken":{"post":{"tags":["Authentication"],"operationId":"authorizeToken","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginWithHpridRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/auth/init":{"post":{"tags":["Authentication"],"operationId":"sendViaAadhaarOTP","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadhaarAuthRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AadhaarAuthResponseDTO"}}}}}}},"/api/v1/auth/confirmWithAadhaarOtp":{"post":{"tags":["Authentication"],"operationId":"verifyAadhaarOTP_1","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadhaarAuthVerifyRequestDTO"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AadhaarAuthVerifyResponseDTO"}}}}}}},"/api/v1/auth/authPassword":{"post":{"tags":["Authentication"],"operationId":"loginViaPassword","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginViaPasswordRequestDto"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginViaPasswordResponseDto"}}}}}}},"/v4/auth/logout":{"get":{"tags":["Profile"],"operationId":"logout","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/v1/search/searchByMobile/{mobile}":{"get":{"tags":["Search"],"operationId":"searchUserByMobileNo","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"mobile","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ForgetUserEntityResponseDTO"}}}}}}}},"/v1/search/searchByHprId/{hprId}":{"get":{"tags":["Search"],"operationId":"searchUserByHprId","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"hprId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ForgetUserEntityResponseDTO"}}}}}}},"/v1/search/existsByHprId/{hprId}":{"get":{"tags":["Search"],"operationId":"existsByHprId","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"hprId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/v1/account/user-details/{hprId}":{"get":{"tags":["Profile"],"operationId":"getUserDetails","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"hprId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserEntityResponseDTO"}}}}}}},"/v1/account/information":{"get":{"tags":["Profile"],"operationId":"getUserProfileByJwt","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponseDto"}}}}}}},"/v1/account/getIdCard":{"get":{"tags":["Profile"],"operationId":"getAccountPngCard","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Token","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileResponseDTO"}}}}}}},"/hpid/get/subCategories":{"get":{"tags":["Utility"],"operationId":"fetchHpIdSubCategoriesFromCategory","parameters":[{"name":"categoryCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"role","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HpSubCategoriesDTO"}}}}}}}},"/hpid/get/categories":{"get":{"tags":["Utility"],"operationId":"fetchHpIdCategories","parameters":[{"name":"role","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HpCategoriesDTO"}}}}}}}},"/api/v1/auth/cert":{"get":{"tags":["Authentication"],"operationId":"getPublicCertificate","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"publicCertificateRequestDto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PublicCertificateRequestDto"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"AadharVerifyPayload":{"type":"object","properties":{"domainName":{"type":"string"},"idType":{"type":"string"},"otp":{"type":"string"},"restrictions":{"type":"string"},"txnId":{"type":"string"}}},"AadharVerifyResponsePayload":{"type":"object","properties":{"txnId":{"type":"string"},"mobileNumber":{"type":"string"},"photo":{"type":"string"},"gender":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"pincode":{"type":"string"},"birthdate":{"type":"string"},"careOf":{"type":"string"},"house":{"type":"string"},"street":{"type":"string"},"landmark":{"type":"string"},"locality":{"type":"string"},"villageTownCity":{"type":"string"},"subDist":{"type":"string"},"district":{"type":"string"},"state":{"type":"string"},"postOffice":{"type":"string"},"address":{"type":"string"}}},"HpidAadhaarGenerateOtpRequestDTO":{"type":"object","properties":{"aadhaar":{"type":"string"}}},"HpidAadhaarGenerateResponseDTO":{"type":"object","properties":{"txnId":{"type":"string"},"mobileNumber":{"type":"string"}}},"HPRIDGenerateMobileOTPResponseDTO":{"type":"object","properties":{"txnId":{"type":"string"},"mobileNumber":{"type":"string"}}},"CreateAccountWithPreVerifiedAadhaar":{"required":["email","txnId"],"type":"object","properties":{"idType":{"type":"string","example":"hpr_id"},"domainName":{"type":"string","example":"@hpr.abdm"},"email":{"type":"string","description":"Email Address of the user.","example":"user@abdm.com"},"firstName":{"type":"string","description":"First Name of the user).","example":"Ayushman"},"middleName":{"type":"string","description":"Middle name of the user ","example":"Bharat"},"lastName":{"type":"string","description":"Last name of the user ","example":"Mission"},"password":{"type":"string","description":"Passwords for authentication","example":"Ayushman@143"},"profilePhoto":{"type":"string","description":"Profile photo of the user (Uploaded by the user).","example":"<BASE64 ENCODED STRING>"},"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"},"hprId":{"type":"string","description":"Healthcare Professional ID Alias.","example":"user@hpr.abdm"},"sourceType":{"type":"string","enum":["DRIVING_LICENSE","AADHAAR"]},"hpCategoryCode":{"type":"integer","format":"int32","example":1},"hpSubCategoryCode":{"type":"integer","format":"int32","example":1},"clientId":{"type":"string","example":"V4"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"council":{"type":"boolean"},"role":{"type":"integer","format":"int32"}}},"CreateAccountJwtResponse":{"type":"object","properties":{"token":{"type":"string"},"hprIdNumber":{"type":"string"},"name":{"type":"string"},"gender":{"type":"string"},"yearOfBirth":{"type":"string"},"monthOfBirth":{"type":"string"},"dayOfBirth":{"type":"string"},"firstName":{"type":"string"},"hprId":{"type":"string"},"lastName":{"type":"string"},"middleName":{"type":"string"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"subDistrictCode":{"type":"string"},"subDistrictName":{"type":"string"},"stateName":{"type":"string"},"districtName":{"type":"string"},"email":{"type":"string"},"kycPhoto":{"type":"string"},"mobile":{"type":"string"},"categoryId":{"type":"integer","format":"int32"},"subCategoryId":{"type":"integer","format":"int32"},"role":{"type":"integer","format":"int32"},"authMethods":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD","FACE_AUTH"]}},"new":{"type":"boolean"}}},"VerifyOtpRequest":{"type":"object","properties":{"txnId":{"type":"string"},"otp":{"type":"string"}}},"SendOtpIfDoctorVerifiedRequest":{"type":"object","properties":{"hprId":{"type":"string"},"mobileNumber":{"type":"string"}}},"HPRIDVerifyMobileOTPRequestDTO":{"type":"object","properties":{"otp":{"type":"string"},"txnId":{"type":"string"}}},"HPRIDVerifyMobileOTPResponseDTO":{"type":"object","properties":{"txnId":{"type":"string"},"mobileNumber":{"type":"string"}}},"HpIdSuggestionRequst":{"required":["txnId"],"type":"object","properties":{"txnId":{"type":"string","description":"Based on UUID","example":"a825f76b-0696-40f3-864c-5a3a5b389a83"}}},"HPRIDGenerateMobileOTPRequestDTO":{"type":"object","properties":{"mobile":{"type":"string"},"txnId":{"type":"string"}}},"AccountExistPayload":{"type":"object","properties":{"txnId":{"type":"string"},"preverifiedCheck":{"type":"boolean"}}},"AccountExistResponsePayload":{"type":"object","properties":{"token":{"type":"string"},"hprIdNumber":{"type":"string"},"categoryId":{"type":"integer","format":"int32"},"categoryName":{"type":"string"},"subCategoryId":{"type":"integer","format":"int32"},"categorySubName":{"type":"string"},"txnId":{"type":"string","format":"uuid"},"name":{"type":"string"},"gender":{"type":"string"},"yearOfBirth":{"type":"string"},"monthOfBirth":{"type":"string"},"dayOfBirth":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"stateName":{"type":"string"},"districtName":{"type":"string"},"address":{"type":"string"},"pincode":{"type":"string"},"profilePhoto":{"type":"string"},"mobile":{"type":"string"},"hprId":{"type":"string"},"new":{"type":"boolean"}}},"RetriveHprIdMobilePayLoad":{"required":["firstName","gender","name","otp","txnId","yearOfBirth"],"type":"object","properties":{"txnId":{"type":"string","format":"uuid"},"name":{"type":"string"},"gender":{"pattern":"^(M|F|O|U)$","type":"string"},"yearOfBirth":{"pattern":"^(\\d{4})$","type":"string"},"monthOfBirth":{"pattern":"^(0?[1-9]|1[012])$","type":"string"},"dayOfBirth":{"pattern":"^(0?[1-9]|[12][0-9]|3[01])$","type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"middleName":{"type":"string"},"otp":{"type":"string"}}},"SendOtpRequest":{"type":"object","properties":{"mobileNumber":{"type":"string"},"email":{"type":"string"},"type":{"type":"string"}}},"AuthAccountAadhaarOTPRequest":{"required":["otp","txnId"],"type":"object","properties":{"otp":{"type":"string","description":"OTP recievied on the Aadhaar Linked Mobile Number","example":"989090"},"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"}}},"AadhaarOtpRequestDto":{"type":"object","properties":{"aadhaarNumber":{"type":"string"},"aadhaarLogType":{"type":"string"},"transactionId":{"type":"string"}}},"AadhaarOtpWebRequestPayload":{"required":["aadhaar","consentVersion","iagree"],"type":"object","properties":{"aadhaar":{"type":"string","description":"Encrypted Aadhaar Number."},"iagree":{"type":"boolean","example":true},"consentVersion":{"type":"string","description":"consent version","example":"V1"},"aadhaarOtpRequestDto":{"$ref":"#/components/schemas/AadhaarOtpRequestDto"},"resend":{"type":"boolean"}}},"AadhaarVerifyOtpRequestDto":{"type":"object","properties":{"aadhaarNumber":{"type":"string"},"otp":{"type":"string"},"faceAuthPid":{"type":"string"},"aadhaarLogType":{"type":"string"},"transactionId":{"type":"string"},"txnId":{"type":"string"}}},"AuthRequestDto":{"type":"object","properties":{"authType":{"type":"string","enum":["AADHAAR_OTP","USERNAME_PASSWORD","MOBILE_OTP"]},"hprId":{"type":"string"},"password":{"type":"string"},"aadhaar":{"type":"string"},"mobileNumber":{"type":"string"},"txnId":{"type":"string","format":"uuid"},"otp":{"type":"string"},"resend":{"type":"boolean"},"aadhaarVerifyOtpRequestDto":{"$ref":"#/components/schemas/AadhaarVerifyOtpRequestDto"}}},"UserDTO":{"type":"object","properties":{"hprIdNumber":{"type":"string"},"hprId":{"type":"string"},"mobile":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"yearOfBirth":{"type":"string"},"dayOfBirth":{"type":"string"},"monthOfBirth":{"type":"string"},"gender":{"type":"string"},"email":{"type":"string"},"profilePhoto":{"type":"string"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"subDistrictCode":{"type":"string"},"villageCode":{"type":"string"},"townCode":{"type":"string"},"wardCode":{"type":"string"},"pinCode":{"type":"string"},"address":{"type":"string"},"kycPhoto":{"type":"string"},"stateName":{"type":"string"},"districtName":{"type":"string"},"subdistrictName":{"type":"string"},"villageName":{"type":"string"},"townName":{"type":"string"},"wardName":{"type":"string"},"authMethods":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD","FACE_AUTH"]}},"kycVerified":{"type":"boolean"},"verificationType":{"type":"string"},"verificationStatus":{"type":"string"},"categoryId":{"type":"integer","format":"int32"},"categoryName":{"type":"string"},"categorySubId":{"type":"integer","format":"int32"},"categorySubName":{"type":"string"},"token":{"type":"string"},"hprIdCategories":{"type":"array","items":{"type":"integer","format":"int32"}},"fileEntityProfileId":{"type":"integer","format":"int64"},"fileEntityKycId":{"type":"integer","format":"int64"},"role":{"type":"integer","format":"int32"},"hprProfileId":{"type":"integer","format":"int64"},"new":{"type":"boolean"},"emailVerified":{"type":"boolean"},"xmluidexist":{"type":"boolean"}}},"TxnResponse":{"type":"object","properties":{"txnId":{"type":"string","description":"Based on UUID","format":"uuid","example":"a825f76b-0696-40f3-864c-5a3a5b389a83"},"mobileNumber":{"type":"string","example":"******2125"},"msg":{"type":"string"},"verified":{"type":"boolean"}}},"UpdateAccountWebRequest":{"type":"object","properties":{"firstName":{"type":"string","description":"First Name of the user).","example":"Ayushman"},"lastName":{"type":"string","description":"Last name of the user ","example":"Mission"},"middleName":{"type":"string","description":"Middle name of the user ","example":"Bharat"},"hprId":{"type":"string","description":"Healthcare Professional ID Alias.","example":"user@hpr.abdm"},"password":{"type":"string","description":"User Authentication password.","example":"Abdm@143"},"email":{"type":"string","description":"Email Address of the user.","example":"user@abdm.com"},"profilePhoto":{"type":"string","description":"Profile photo of the user (Uploaded by the user).","example":"<BASE64 ENCODED STRING>"},"stateCode":{"type":"string","description":"State Code of the user (LGD).","example":"7"},"districtCode":{"type":"string","description":"District Code of the user (LGD).","example":"71"},"subdistrictCode":{"type":"string","description":"Sub District Code of the user (LGD).","example":"1"},"villageCode":{"type":"string","description":"Village Code of the user (LGD)."},"townCode":{"type":"string","description":"Town Code of the user (LGD)."},"wardCode":{"type":"string","description":"Ward Code of the user (LGD)."},"pincode":{"type":"integer","description":"Pincode of the user.","format":"int32","example":110001},"address":{"type":"string","description":"Address of the user.","example":"9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001"},"yearOfBirth":{"type":"string","description":"Year of birth of the user.","example":"2021"},"monthOfBirth":{"type":"string","description":"Month of birth of the user.","example":"8"},"dayOfBirth":{"type":"string","description":"Day of birth of the user.","example":"15"},"hpCategoryCode":{"type":"string","example":"1"},"hpSubCategoryCode":{"type":"string","example":"1"},"txnId":{"type":"string","format":"uuid"},"role":{"type":"string"},"consentToDelete":{"type":"boolean"}}},"HidOtpWebRequestPaylaod":{"required":["newPassword","otp","txnId"],"type":"object","properties":{"newPassword":{"type":"string","description":"Encrypted new Password."},"otp":{"type":"string","description":"Encrypted OTP."},"txnId":{"type":"string","format":"uuid"}}},"PasswordChangeDTO":{"type":"object","properties":{"message":{"type":"string"}}},"ValidateAaddhaarDemographicMobileResponseDTO":{"type":"object","properties":{"verified":{"type":"boolean"},"txnId":{"type":"string"}}},"HidChangePasswordRequestPayload":{"required":["newPassword"],"type":"object","properties":{"oldPassword":{"type":"string"},"newPassword":{"type":"string"},"txnId":{"type":"string"},"hprID":{"type":"string"},"otp":{"type":"string"}}},"CategoryRequest":{"required":["hprId"],"type":"object","properties":{"hprId":{"type":"string"},"categories":{"type":"object","additionalProperties":{"type":"string"}}}},"TokenRequestDTO":{"type":"object","properties":{"txnId":{"type":"string"},"issueToken":{"type":"string"},"token":{"type":"string"}}},"TokenResponseDTO":{"type":"object","properties":{"hbi":{"type":"boolean"},"docid":{"type":"string"},"status":{"type":"string"},"siteUrl":{"type":"string"},"token":{"type":"string"}}},"LoginDTO":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"},"resend":{"type":"boolean"}}},"AadhaarGenerateOTPResponseDTO":{"type":"object","properties":{"status":{"type":"string"},"txnId":{"type":"string"}}},"EmailOTPVerificationRequestDTO":{"type":"object","properties":{"hpr_token":{"type":"string"},"hpr_id":{"type":"string"},"officialEmail":{"type":"string"},"emailOtp":{"type":"integer","format":"int32"}}},"EmailOTPVerificationResponseDTO":{"type":"object","properties":{"status":{"type":"string"},"msg":{"type":"string"}}},"EmailAuthRequestDto":{"type":"object","properties":{"emailAddress":{"type":"string"},"otp_type":{"type":"string"}}},"EmailAuthResponseDto":{"type":"object","properties":{"msg":{"type":"string"},"status":{"type":"string"}}},"AadhaarGenerateOTPRequestDTO":{"required":["hpr_token","officialMobile"],"type":"object","properties":{"hpr_token":{"type":"string"},"officialMobile":{"type":"string"}}},"SendVerifyOtpRequestDto":{"type":"object","properties":{"mobile":{"type":"string"},"txnId":{"type":"string"},"otp":{"type":"string"}}},"MobileLinkedHpIdDto":{"type":"object","properties":{"hprIdNumber":{"type":"string"},"name":{"type":"string"},"hprId":{"type":"string"},"categoryId":{"type":"integer","format":"int32"},"subCategoryId":{"type":"integer","format":"int32"}}},"SendVerifyOtpResponseDto":{"type":"object","properties":{"txnId":{"type":"string"},"mobileLinkedHpIdDTO":{"type":"array","items":{"$ref":"#/components/schemas/MobileLinkedHpIdDto"}},"mobileNumber":{"type":"string"}}},"LoginWithHpridRequestDTO":{"type":"object","properties":{"hpId":{"type":"string"},"txnId":{"type":"string"}}},"AadhaarAuthRequestDTO":{"type":"object","properties":{"idType":{"type":"string"},"domainName":{"type":"string"},"authMethod":{"type":"string"},"hprId":{"type":"string"}}},"AadhaarAuthResponseDTO":{"type":"object","properties":{"transactionId":{"type":"string","format":"uuid"},"mobileNumber":{"type":"string"}}},"AadhaarAuthVerifyRequestDTO":{"type":"object","properties":{"otp":{"type":"string"},"txnId":{"type":"string","format":"uuid"}}},"AadhaarAuthVerifyResponseDTO":{"type":"object","properties":{"token":{"type":"string"},"expiresIn":{"type":"integer","format":"int32"},"refreshToken":{"type":"string"},"refreshExpiresIn":{"type":"integer","format":"int32"}}},"LoginViaPasswordRequestDto":{"type":"object","properties":{"idType":{"type":"string"},"domainName":{"type":"string"},"hprId":{"type":"string"},"password":{"type":"string"}}},"LoginViaPasswordResponseDto":{"type":"object","properties":{"token":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"refreshToken":{"type":"string"},"refreshExpiresIn":{"type":"integer","format":"int64"}}},"ForgetUserEntityResponseDTO":{"type":"object","properties":{"hprIdNumber":{"type":"string"},"name":{"type":"string"},"authMethods":{"type":"array","items":{"type":"string","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD","FACE_AUTH"]}},"hprId":{"type":"string"},"categoryId":{"type":"string"},"subCategoryId":{"type":"string"}}},"UserEntityResponseDTO":{"type":"object","properties":{"hprIdNumber":{"type":"string"},"name":{"type":"string"},"hprId":{"type":"string"},"categoryName":{"type":"string"},"categorySubName":{"type":"string"}}},"UserProfileResponseDto":{"type":"object","properties":{"hprIdNumber":{"type":"string"},"hprId":{"type":"string"},"mobile":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"yearOfBirth":{"type":"string"},"dayOfBirth":{"type":"string"},"monthOfBirth":{"type":"string"},"gender":{"type":"string"},"email":{"type":"string"},"profilePhoto":{"type":"string"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"subDistrictCode":{"type":"string"},"villageCode":{"type":"string"},"townCode":{"type":"string"},"wardCode":{"type":"string"},"pincode":{"type":"string"},"address":{"type":"string"},"kycPhoto":{"type":"string"},"stateName":{"type":"string"},"districtName":{"type":"string"},"subdistrictName":{"type":"string"},"villageName":{"type":"string"},"townName":{"type":"string"},"wardName":{"type":"string"},"authMethods":{"type":"array","items":{"type":"string","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD","FACE_AUTH"]}},"kycVerified":{"type":"boolean"},"verificationStatus":{"type":"string"},"categoryId":{"type":"integer","format":"int32"},"categoryName":{"type":"string"},"categorySubId":{"type":"integer","format":"int32"},"categorySubName":{"type":"string"},"emailVerified":{"type":"boolean"},"role":{"type":"integer","format":"int32"},"new":{"type":"boolean"}}},"ProfileResponseDTO":{"type":"object","properties":{"pdf":{"type":"array","items":{"type":"string","format":"byte"}}}},"HpSubCategoriesDTO":{"type":"object","properties":{"code":{"type":"string","example":"1"},"Modern Medicine":{"type":"string","example":"1"}}},"HpCategoriesDTO":{"type":"object","properties":{"code":{"type":"integer","format":"int32","example":1},"name":{"type":"string","example":"Doctor"},"subCategories":{"type":"array","items":{"$ref":"#/components/schemas/HpSubCategoriesDTO"}},"districts":{"type":"array","writeOnly":true,"items":{"$ref":"#/components/schemas/HpSubCategoriesDTO"}}}},"PublicCertificateRequestDto":{"type":"object","properties":{"mobile":{"type":"string"}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}