{"openapi":"3.0.1","info":{"title":"Healthcare Professional ID Service","description":"It is important to standardize the process of identification of an individual across Healthcare providers, to ensure that the created medical records are issued to the right individual or accessed by a Health Information User through appropriate consent. \nIn order to issue a Healthcare Professional ID to an individual, one only needs basic demographic details like **Name, Year of Birth, Gender**. In addition, citizens should be able to update contact information easily. \nThe Healthcare Professional ID will be used for the purposes of uniquely identifying persons, authenticating them, and threading their health records (only with the informed consent of the patient) across multiple systems and stakeholders.\n## API Security</h4>\nYou need Authorization Token and X-HIP-ID to consume APIs.\n\n ## Notes: \n\n <b>1. In order to have access to Healthcare Professional ID APIs, Your `ClientId`<sup style='color:red'>* required</sup> must have hid role in gateway. So if you want access to these APIs then please request it in your Ayushman Bharat Digital Mission (ABDM) on-boarding request.</b>\n\n <b>2. When calling APIs, please ensure that Authorization header must have format as `Bearer <Token_Value>`. Please note that prefix Bearer followed by space before token value.</b>\n\n <b>3. Please use latest version of **APIs (currently latest V2)**</b> as <b style=\"color:red\">older version may get deprecated soon.</b></b>\n\n <b>4. Check the state and district codes from LGD directory [click here](https://lgdirectory.gov.in/)</b> \n\n <b>5. Highlighted Changes in the API Version 2 </b> \n- Sensitive data (Data like OTP, Aadhaar Number/Virtual ID/UID Token, Password, Username etc) have to be encrypted.\n- Data is encrypted by the public certificate. The certificate can be downloaded from the __/v1/auth/cert__  API under  __Authentication__ tag in the version 1.\n- RSA Encryption to encrypt the data. Cipher Type - <b>RSA/ECB/PKCS1Padding</b>.  online tool to encrypt data [click here](https://www.devglan.com/online-tools/rsa-encryption-decryption)    ","version":"1.0"},"servers":[{"url":"https://hpridsbx.abdm.gov.in/api","description":"Generated server url"}],"security":[{"Authorization":[],"X-HIP-ID":[]}],"tags":[{"name":"Registration API's Collection Via Aadhaar (Version 2)","description":"APIs to create Healthcare Professional ID ID using Aadhaar number."},{"name":"Profile (Version 2)","description":"API to verify the Email Address of the User getting registered to the Health-ID Portal by sending the activation link to the email address. Users need the login to the provided email address used during the registration, click on the activation link to verify the e-mail address."},{"name":"Profile (Version 2)","description":"API to verify the Email Address of the User getting registered to the Healthcare Professional ID Portal by sending the OTP(One Time Passowrd) to the email address."},{"name":"Profile (Version 2)","description":"Healthcare Professional ID Profile APIs (requires authenticated user token)"},{"name":"Authentication (Version 2)","description":"HP ID Authentication API's"},{"name":"Search For Web (Version 2)","description":"Healthcare Professional ID Number Search for web"},{"name":"Forgot HP ID/Number api (Version 2)","description":"API's to Retrieve HP ID/Number using MOBILE NUMBER or AADHAAR."}],"paths":{"/v2/search/searchHprIdToLogin":{"post":{"tags":["Search For Web (Version 2)"],"summary":"Search a user by Healthcare Professional ID Number.","description":"## Search a user by Healthcare Professional ID Number.\r\n- Healthcare Professional ID and Year Of Birth need to pass in the request\r\n## Request below is the Request Parameters description \r\n| Attributes | Description |\r\n| ------ | ------ |\r\n| hprId <sup style='color:red'>* required</sup> | Healthcare Professional ID Number/Healthcare Professional ID |\r\n| yearOfBirth <sup style='color:red'>* required</sup> | year of birth example: 1990|","operationId":"searchUserForLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchByHpIdWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"API will return the details of the accounts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchAccountWebResponse"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/search/searchByHprId":{"post":{"tags":["Search For Web (Version 2)"],"summary":"Search a user by Healthcare Professional ID Number.","description":"## Search a user by Healthcare Professional ID Number.\r\n- Healthcare Professional ID need to pass in the request\r\n## Request below is the Request Parameters description \r\n| Attributes | Description |\r\n| ------ | ------ |\r\n| hprId <sup style='color:red'>* required</sup> | Healthcare Professional ID Number/Healthcare Professional ID |","operationId":"searchUserByAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchByHprIdRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"API will return the details of the accounts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchAccountWebResponse"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/search/internalapi/searchByHprId":{"post":{"tags":["Search For Web (Version 2)"],"summary":"Search a user by Healthcare Professional ID Number.","description":"## Search a user by Healthcare Professional ID Number.\r\n- Healthcare Professional ID need to pass in the request\r\n## Request below is the Request Parameters description \r\n| Attributes | Description |\r\n| ------ | ------ |\r\n| hprId <sup style='color:red'>* required</sup> | Healthcare Professional ID Number/Healthcare Professional ID |","operationId":"searchUserByOtherDocAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchByHprIdRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"API will return the details of the accounts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchAccountWebResponse"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/search/internal/hfr/searchByHprId":{"post":{"tags":["Search For Web (Version 2)"],"summary":"Search a user by Healthcare Professional ID Number/Healthcare Professional ID.","description":"## Search a user by Healthcare Professional ID Number.\r\n- Healthcare Professional ID need to pass in the request\r\n## Request below is the Request Parameters description \r\n| Attributes | Description |\r\n| ------ | ------ |\r\n| hprId <sup style='color:red'>* required</sup> | Healthcare Professional ID Number/Healthcare Professional ID |\r\n## <b style='color:red'>Note:</b> - API is only Accessible for the <b style='color:black'>HFR</b>. <sup style='color:red'>'ACCOUNT_TAG_ADD' role is mandatory for the API ACCESS.</sup>","operationId":"searchUserAccountHFR","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchByHprIdRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"API will return the details of the accounts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchAccountHFRResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/search/existsByHprId":{"post":{"tags":["Search For Web (Version 2)"],"summary":"Search a user exists by Healthcare Professional ID Number.","description":"## Search a user exists by Healthcare Professional ID Number.\r\n- Healthcare Professional ID need to pass in the request\r\n## Request below is the Request Parameters description \r\n| Attributes | Description |\r\n| ------ | ------ |\r\n| hprId <sup style='color:red'>* required</sup> | Healthcare Professional ID Number/Healthcare Professional ID |","operationId":"searchUserByUserid","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchByHprIdRequest"}}},"required":true},"responses":{"200":{"description":"API will return true/false respective to the account.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/registration/aadhaar/verifyOTP":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Verify Aadhaar OTP and continue for mobile verification.","description":"Verify Aadhaar OTP received on registered mobile number","operationId":"verifyAadharOTPOnly","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyAadhaarOtpWebPaylaod"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully verified the Aadhaar OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponseDetails"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/registration/aadhaar/verifyMobileOTP":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Verify Mobile OTP in an existing transaction.","description":"Verify Mobile OTP in an existing transaction.","operationId":"verifyMobileOTPForTxn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyMobileWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Verified Mobile OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/registration/aadhaar/generateOtp":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Generate Aadhaar OTP on registered mobile number","description":"Generate Aadhaar OTP on registered mobile number- Beneficiary data need to create HP ID in the request\r\n- KYC data will  be verified by UIDIA, Before creating the Healthcare Professional ID\r\n## Request\r\nBelow is the Request Parameters description \r\n| Attributes | Description |\r\n| ------ | ------ |\r\n| aadhaar <sup style='color:red'>* required</sup>|Encrypted AadhaarNumber(12-digits) or Virtual ID(16-Digits) or UidToken(72-Digits). (Must be Encrypted with public key)|\r\n| iagree | User consent to access the Aadhaar Demograhic Data|\r\n| consentVersion  | Consent Version Default : V1|","operationId":"generateAadharOTP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadhaarOtpWebRequestPayload"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully generated the Aadhaar OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}}}}},"/v2/registration/aadhaar/email/verification/verify/otp":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Verify the Email Verification OTP to verify the E-mail Address.","description":"<h2>Notes</h2><p>1:<b> Verification OTP</b> received over the email address. OTP<sup style='color:red'>* required</sup> and transaction id<sup style='color:red'>* required</sup> should be passed in the request.</p>\r\n<p>2: OTP must be in the encrypted.</p>","operationId":"verificationEmailVerificationMailRegOTP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailOTPRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"API will return the true/false.","content":{"application/json":{"schema":{"type":"boolean"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/registration/aadhaar/email/verification/send/otp":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"To generate the Email Verification OTP to verify the Email Address in the Registration. OTP will be sent to the provided email address.","description":"<h2>Notes</h2><p>1: To verify the <b>Email Address</b> provided by the beneficiary during the <b style='color:black'>registration</b> process,  OTP will be sent to the email address. Send the <b>Email Address</b> in the request.</p>\r\n<p>2: Email Verification OTP will be valid for <strong style='color:red'>10 minutes</strong> only.</p>\r\n<p>3: To <b style='color:red'>Update or Changes</b> the existing e-mail Address <i>(Verified/Unverified email)</i>. Send the <b>New Email Address</b><sup style='color:red'>* required</sup> in the request.</p>","operationId":"sendEmailInitiateVerificationRegViaOTP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailVerificationRegOTPRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"API will return the transaction for the futher step.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/registration/aadhaar/email/verification/resend/otp":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Resend Email verification OTP on the email address during the registration flow of aadhaar.","description":"<h2>Notes</h2><p>1: To resend the E-mail verification OTP. Send the transaction id<sup style='color:red'>* required</sup> in the request</p>\r\n","operationId":"resendEmailVerificationRegOTP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendEmailVerificationOTPRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"API will return the transaction for the futher step.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/registration/aadhaar/demographicAuthViaMobile":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Aadhaar Demographic auth using Mobile Number.","description":"Aadhaar Demographic auth using Mobile Number..","operationId":"demographicAuthViaMobile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileDemographicAuthModelV2"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully verified the Mobile number by aadhaar demographic Data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileDemographicAuthRespModel"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/registration/aadhaar/createHprIdWithPreVerified":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Create Healthcare Professional ID using pre-verified Aadhaar & Mobile.","description":"Create Healthcare Professional ID ID using pre-verified Aadhaar & Mobile.","operationId":"createHPIDByAadhaarAuth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountWithPreVerifiedAadhaarV2"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully fetch the Healthcare Professional ID Number by Aadhaar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountJwtResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/registration/aadhaar/createHpIdWithAadhaarDemographicData":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Create Healthcare Professional ID by Aadhaar Demographic data","description":"## Create the Healthcare Professional ID using Aadhaar Demographic Data (Aadhaar/Name/Gender/DOB) details .\r\n- Beneficiary data need to create HP ID in the request\r\n- Demographic data will  be verified by UIDIA, Before creating the Healthcare Professional ID\r\n## Request\r\nBelow is the Request Parameters description \r\n| Attributes | Description |\r\n| ------ | ------ |\r\n| aadhaar <sup style='color:red'>* required</sup>|Encrypted AadhaarNumber(12-digits) or Virtual ID(16-Digits) or UidToken(72-Digits). (Must be Encrypted with public key)|\r\n| fullName <sup style='color:red'>* required</sup> | Full Name of the Beneficiary mentioned in the documents <b>(Either provide full name or FirstName, MiddleName, Lastname)</b>|\r\n| firstName <sup style='color:red'>* required</sup> | First Name of the Beneficiary mentioned in the documents |\r\n| middleName | Middle Name of the Beneficiary mentioned in the documents |\r\n| lastName  | Last Name of the Beneficiary mentioned in the documents |\r\n| gender <sup style='color:red'>* required</sup> | Male - <b>M</b>, Female - <b>F</b>, Other - <b>O</b>, I do not want to disclose - <b>U</b> |\r\n| dayOfBirth | date of birth |\r\n| monthOfBirth | month of birth |\r\n| yearOfBirth <sup style='color:red'>* required</sup> | year of birth |\r\n| address | Address of the beneficiary|\r\n| hprId  | HprID refers to the Healthcare Address created by the user.|\r\n| password | Authentication Passwords user want to set|\r\n| mobileNumber <sup style='color:red'>* required</sup>| Contact Details of the Beneficiary|\r\n| email <sup style='color:red'>* required</sup> | Email Address |\r\n| profilePhoto | Photo in base-64 format. Photo formats like PNG, JPG, JPEG and JPEG |\r\n| stateCode <sup style='color:red'>* required</sup> | LGD state code of the state |\r\n| districtCode <sup style='color:red'>* required</sup> | LGD district code of the district |\r\n| pincode <sup style='color:red'>* required</sup> | Valid 6-digits pincode |\r\n| hpCategoryCode <sup style='color:red'>* required</sup> | Valid HP Category Code. More info refer to <b> '/v1/utility/getHpIdCategories' </b>)|\r\n| hpSubCategoryCode <sup style='color:red'>* required</sup> | Valid Sub Category Code. More info refer to <b> '/v1/utility/getHpIdSubCategories' </b>)|\r\n| iagree | User consent to access the Aadhaar Demograhic Data|\r\n| consentVersion  | Consent Version Default : V1|","operationId":"createHPIDAccountDemographicData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateHPIDAadhaarDemoAuthRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Created Healthcare Professional ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAadhaarDemoAuthResponse"}}}}}}},"/v2/registration/aadhaar/checkHpIdAccountExist":{"post":{"tags":["Registration API's Collection Via Aadhaar (Version 2)"],"summary":"Check HP ID Account already exist by Aadhaar Number or (Name, Gender, Year of Birth)","description":"Check HP ID Account already exist by Aadhaar Number or (Name, Gender, Year of Birth)","operationId":"checkUserExist","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionUUIDRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully fetch the Account details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckAccountResponse"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/forgot/hprId/aadhaar":{"post":{"tags":["Forgot HP ID/Number api (Version 2)"],"summary":"Verify aadhaar OTP sent as part of forgot HP ID.","description":"Verify aadhaar OTP sent as part of forgot HP ID.","operationId":"retrievalHealthIdByAadhar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthAccountAadhaarOTPWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully fetch Healthcare Professional ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveHprIdPayloadResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/forgot/hprId/aadhaar/generateOtp":{"post":{"tags":["Forgot HP ID/Number api (Version 2)"],"summary":"Generate Aadhaar OTP on registered mobile number","description":"Generate Aadhaar OTP on registered mobile number","operationId":"generateAadharOTP_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadharNumberWebOptionalRequestPayload"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Generated Aadhaar OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/resetPassword/verifyOTP":{"post":{"tags":["Authentication (Version 2)"],"summary":"Verify Mobile OTP.","operationId":"verifyMobileOTPToREsetPasswordTxn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyMobileWebRequest"}}},"required":true},"responses":{"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/resetPassword/sendOTP":{"post":{"tags":["Authentication (Version 2)"],"summary":"Search HP ID for account password reset.","operationId":"searchUserForRestPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchByHpIdResetPasswordWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully fetch account details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchAccountResetPasswordWebResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/resetPassword/resendOTP":{"post":{"tags":["Authentication (Version 2)"],"summary":"Resend  Mobile OTP.","operationId":"resendMobileOTP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendOTPRequest"}}},"required":true},"responses":{"200":{"description":"Successfully resent mobile","content":{"application/json":{"schema":{"type":"boolean"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/reset/password":{"post":{"tags":["Authentication (Version 2)"],"summary":"Reset Account Password","description":"Reset password.","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HidResetPasswordWebRequestPayload"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully updated  account password."},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/loginViaMobileVerifyOTP":{"post":{"tags":["Authentication (Version 2)"],"summary":"Authentication with Mobile OTP based Auth transaction.","operationId":"verifyMobileOTPForTxn_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyMobileWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileLinkedHpIdResponsePayload"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/loginViaMobileSendOTP":{"post":{"tags":["Authentication (Version 2)"],"summary":"Authentication with Mobile OTP based Auth transaction.","operationId":"loginViaMobileSendOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthLoginViaMobileRequest"}}},"required":true},"responses":{"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/login/userAuthorizedToken":{"post":{"tags":["Authentication (Version 2)"],"summary":"Authentication with user Token based Auth transaction.","operationId":"userAuthorizedToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileLoginRequest"}}},"required":true},"responses":{"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/confirmWithPassword":{"post":{"tags":["Authentication (Version 2)"],"summary":"Authentication with password based auth transaction.","operationId":"authAccountPasswordRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthWithPasswordWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/confirmWithMobileOTP":{"post":{"tags":["Authentication (Version 2)"],"summary":"Authentication with Mobile OTP based Auth transaction.","operationId":"confirmWithMobile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthAccountMobileOtpWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/confirmWithEmailOTP":{"post":{"tags":["Authentication (Version 2)"],"summary":"Authentication with Email OTP based Auth transaction.","operationId":"confirmEmailOTP","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthAccountMobileOtpWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/confirmWithAadhaarOtp":{"post":{"tags":["Authentication (Version 2)"],"summary":"Authentication with Aadhaar OTP based Auth transaction.","operationId":"confirmWithAadhaarOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthAccountAadhaarOTPWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/auth/authPassword":{"post":{"tags":["Authentication (Version 2)"],"summary":"Authenticate using 'HP ID number'/'HP ID' and Password","operationId":"authenticateWithPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginPasswordRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/profile":{"get":{"tags":["Profile (Version 2)"],"summary":"Get account information.","operationId":"getAccountInformation","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully fetch the account information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"post":{"tags":["Profile (Version 2)"],"summary":"Update account information","operationId":"updateAccountInformation","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountWebRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Updated account information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}}},"/v2/account/email/verification/verify/otp":{"post":{"tags":["Profile (Version 2)"],"summary":"Verify the Email Verification OTP to verify the E-mail Address.","description":"<h2>Notes</h2><p>1:<b> Verification OTP</b> received over the email address. OTP<sup style='color:red'>* required</sup> and transaction id<sup style='color:red'>* required</sup> should be passed in the request.</p>\r\n<p>2: OTP must be in the encrypted.</p>","operationId":"verificationEmailVerificationMailOTP","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailOTPRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully verified email OTP","content":{"application/json":{"schema":{"type":"boolean"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/email/verification/send/otp":{"post":{"tags":["Profile (Version 2)"],"summary":"To generate the Email Verification OTP to verify the Email Address in the profile. OTP will be sent to the provided email address.","description":"<h2>Notes</h2><p>1: To verify the <b>Email Address</b> provided by the beneficiary during the <b style='color:black'>registration</b> process,  OTP will be sent to the email address. Send the <b>Email Address</b> in the request.</p>\r\n<p>2: Email Verification OTP will be valid for <strong style='color:red'>10 minutes</strong> only.</p>\r\n<p>3: To <b style='color:red'>Update or Changes</b> the existing e-mail Address <i>(Verified/Unverified email)</i>. Send the <b>New Email Address</b><sup style='color:red'>* required</sup> in the request.</p>","operationId":"sendEmailInitiateVerificationViaOTP","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailVerificationOTPRequest"}}},"required":true},"responses":{"200":{"description":"Successfully Initiated the Email Verification.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/email/verification/send/link":{"post":{"tags":["Profile (Version 2)"],"summary":"Send the Email Verification Activation Link to verify the E-mail Address.","description":"<h2>Notes</h2>\r\n<p>1: To verify the <b>Email Address</b> provided by the beneficiary, Send the <b>Email Address</b> in the request.</p>\r\n<p>2: Activation link will be expire in <strong style='color:red'>30 Minutes</strong>.</p><p>3: To regenerate the <b style='color:DodgerBlue'>Activation link</b> when the previous link is expired. Send the X-Token <sup style='color:red'>* required</sup> in the Header.</p>\r\n<p>4: To Generate the activation link user must be authorized.</p>","operationId":"sendEmailVerificationEMail","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailVerificationLinkRequest"}}}},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/email/verification/resend/otp":{"post":{"tags":["Profile (Version 2)"],"summary":"Resend Email verification OTP on the email address.","description":"<h2>Notes</h2><p>1: To resend the E-mail verification OTP. Send the transaction id<sup style='color:red'>* required</sup> in the request</p>\r\n","operationId":"resendEmailVerificationOTP","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendEmailVerificationOTPRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully resent the OTP","content":{"application/json":{"schema":{"type":"boolean"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/email/check/status":{"post":{"tags":["Profile (Version 2)"],"summary":"Check the Email Verification status of the Account.","description":"Check the email status, Email address is verified or not","operationId":"emailCheckStatus","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailCheckStatusRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/password":{"post":{"tags":["Profile (Version 2)"],"summary":"Change password via password for Healthcare Professional ID.","description":"Change password via password for Healthcare Professional ID.","operationId":"changePasswordVia","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HidChangePasswordWebRequestPayload"}}},"required":true},"responses":{"204":{"description":"Successfully updated password for Healthcare Professional ID."},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/passwd/byMobile":{"post":{"tags":["Profile (Version 2)"],"summary":"Change password via mobile for Healthcare Professional ID.","description":"Change password via mobile for Healthcare Professional ID.","operationId":"changePasswordViaMobile","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HidOtpWebRequestPaylaod"}}},"required":true},"responses":{"204":{"description":"Successfully updated password for Healthcare Professional ID."},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/passwd/byAadhaar":{"post":{"tags":["Profile (Version 2)"],"summary":"Change password via Aadhaar for Healthcare Professional ID.","description":"Change password via Aadhaar for Healthcare Professional ID.","operationId":"changePasswordViaAadhar","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HidOtpWebRequestPaylaod"}}},"required":true},"responses":{"204":{"description":"Successfully updated password for Healthcare Professional ID."},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/mobile/update/authentication":{"post":{"tags":["Profile (Version 2)"],"summary":"Change mobile number via password/aadhaar/existing mobile for Healthcare Professional ID.","description":"Change mobile number via password for Healthcare Professional ID.","operationId":"changeMobileNumberPasswordVia","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNewMobileNoRequestPayload"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully Updated the mobile Number"},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/mobile/old/generateOTP":{"post":{"tags":["Profile (Version 2)"],"summary":"Generate Mobile OTP to start mobile update.","description":"Generate Mobile OTP to start mobile update.","operationId":"generateUpdateMobileOTP","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMobileGenerateOTPPayload"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully generated Mobile OTP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/mobile/new/verifyOTP":{"post":{"tags":["Profile (Version 2)"],"summary":"Verify Mobile OTP to complete new mobile update verification.","description":"Verify Mobile OTP to complete new mobile update verification.","operationId":"verifyNewMobileOTP","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyMobileWebRequest"}}},"required":true},"responses":{"200":{"description":"Successfully verified Mobile OTP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/mobile/new/resendOtp":{"post":{"tags":["Profile (Version 2)"],"summary":"Resend Mobile OTP for Healthcare Professional ID on new mobile number for the mobile update","description":"Resend Mobile OTP in an existing transaction in case previous OTP is not received.","operationId":"resentOtp","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendOTPNewMobileRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully resent Mobile OTP","content":{"application/json":{"schema":{"type":"boolean"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/mobile/new/generateOTP":{"post":{"tags":["Profile (Version 2)"],"summary":"Generate Mobile OTP on new mobile need to update in the account","description":"Generate Mobile OTP on new mobile need to update in the account","operationId":"generatereNewMobileOTP","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileNumberNewRequestPayload"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully generated Mobile OTP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/change/mobile/aadhaar/generateOTP":{"post":{"tags":["Profile (Version 2)"],"summary":"Generate Aadhaar OTP on registrered mobile number to start mobile update.","description":"Generate Aadhaar OTP on registrered mobile number to start mobile update.","operationId":"generateUpdateMobileAadharOTP","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMobileGenerateOTPPayload"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully generated Aadhaar OTP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}}}}},"/v2/account/change/hpr/internal/mobile/new/verifyOTP":{"post":{"tags":["Profile (Version 2)"],"summary":"Verify Mobile OTP to complete new mobile update for HPR only.","description":"Verify Mobile OTP to complete new mobile update verification.","operationId":"verifyNewMobileOTPHpr","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyMobileWebRequest"}}},"required":true},"responses":{"200":{"description":"Successfully verified Mobile OTP and Updated Mobile in Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileUpdateHprResponse"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/aadhaar/verifyOTP":{"post":{"tags":["Profile (Version 2)"],"summary":"Verify Aadhaar OTP to complete KYC/re-KYC verification.","description":"Verify Aadhaar OTP to complete KYC/re-KYC verification","operationId":"verifyAadharOTPOnly_1","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyAadhaarOtpWebPaylaod"}}},"required":true},"responses":{"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"Successfully verified Aadhaar OTP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReKycResponse"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v2/account/aadhaar/generateOTP":{"post":{"tags":["Profile (Version 2)"],"summary":"Generate Aadhaar OTP on registered mobile number","description":"Generate Aadhaar OTP on registered mobile number- KYC data will  be verified by UIDIA## Request\r\nBelow is the Request Parameters description \r\n| Attributes | Description |\r\n| ------ | ------ |\r\n| aadhaar <sup style='color:red'>* required</sup>|Encrypted AadhaarNumber(12-digits) or Virtual ID(16-Digits) or UidToken(72-Digits). (Must be Encrypted with public key)|\r\n| iagree | User consent to access the Aadhaar Demograhic Data|\r\n| consentVersion  | Consent Version Default : V1|","operationId":"generatereKycAadharOTP","parameters":[{"name":"X-Token","in":"header","description":"JWT Authorization Token","style":"simple","schema":{"type":"string","default":"Bearer X-Token"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AadharNumberWebOptionalRequestPayload"}}},"required":true},"responses":{"200":{"description":"Successfully Generated Aadhaar OTP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TxnResponse"}}}},"400":{"description":"Bad Request. Please provide valid request syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Server encountered an unexpected condition that prevented it from fulfilling the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}}},"components":{"schemas":{"SearchByHpIdWebRequest":{"required":["hprId","yearOfBirth"],"type":"object","properties":{"idType":{"type":"string","example":"hpr_id"},"domainName":{"type":"string","example":"@hpr.abdm"},"hprId":{"type":"string","description":"Healthcare Professional ID  Number or Alias","example":"20-0878-1213-5055 or User@hpr.abdm"},"yearOfBirth":{"type":"string","description":"Year of birth of the user.","example":"1990"}}},"ApiError":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetails"}}}},"ErrorAttribute":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"ErrorDetails":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"attribute":{"$ref":"#/components/schemas/ErrorAttribute"}}},"SearchAccountWebResponse":{"type":"object","properties":{"hprId":{"type":"string"},"hprIdNumber":{"type":"string"},"authMethods":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD"]}},"tags":{"type":"object","additionalProperties":{"type":"string"}},"blockedAuthMethods":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"verificationType":{"type":"string"},"verificationStatus":{"type":"string"}}},"SearchByHprIdRequest":{"required":["hprId"],"type":"object","properties":{"idType":{"type":"string","example":"hpr_id"},"domainName":{"type":"string","example":"@hpr.abdm"},"hprId":{"type":"string","description":"Healthcare Professional-ID  Number or Alias","example":"20-0878-1213-5055 or user@hpr.abdm"}}},"SearchAccountHFRResponse":{"type":"object","properties":{"hprId":{"type":"string","description":"Healthcare Professional ID Alias.","example":"user@hpr.abdm"},"hprIdNumber":{"type":"string","description":"Healthcare Professional ID Number.","example":"20-0878-1213-5055"},"mobile":{"type":"string","description":"Mobile number of the user.","example":"9988776655"},"name":{"type":"string","description":"Name of the user (Full Name).","example":"Ayushman Bharat Mission"},"firstName":{"type":"string","description":"First name of the user","example":"Ayushman"},"middleName":{"type":"string","description":"Middle name of the user ","example":"Bharat"},"lastName":{"type":"string","description":"Last name of the user ","example":"Mission"},"gender":{"type":"string","description":"Gender","example":"M - Male, F - Female, O - Others"},"stateCode":{"type":"string","description":"State Code of the user (LGD).","example":"7"},"stateName":{"type":"string","description":"State Name of the user.","example":"DELHI"},"districtCode":{"type":"string","description":"District Code of the user (LGD).","example":"71"},"districtName":{"type":"string","description":"District Name of the user.","example":"CENTRAL"},"address":{"type":"string","description":"Address of the user.","example":"9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001"},"pincode":{"type":"string","description":"Pincode of the user.","example":"110001"},"dayOfBirth":{"type":"string","description":"Day of birth of the user.","example":"15"},"monthOfBirth":{"type":"string","description":"Month of birth of the user.","example":"8"},"yearOfBirth":{"type":"string","description":"Year of birth of the user.","example":"2021"},"profilePhoto":{"type":"array","description":"Profile photo of the user (Uploaded by the user).","example":"<BASE64 ENCODED STRING>","items":{"type":"string","description":"Profile photo of the user (Uploaded by the user).","format":"byte","example":"PEJBU0U2NCBFTkNPREVEIFNUUklORz4="}},"kycPhoto":{"type":"array","description":"KYC photo of the user (Fetch from UIDIA).","example":"<BASE64 ENCODED STRING>","items":{"type":"string","description":"KYC photo of the user (Fetch from UIDIA).","format":"byte","example":"PEJBU0U2NCBFTkNPREVEIFNUUklORz4="}},"verificationStatus":{"type":"string","description":"Account status of the user","example":"VERIFIED"},"kycVerified":{"type":"boolean","description":"KYC Status of the user. When user is verified by aadhaar(UIDIA)"},"email":{"type":"string","description":"Email Address of the user. (Only the Verified email address will be display)","example":"user@abdm.com"},"tags":{"type":"object","additionalProperties":{"type":"string","description":"TAGS/ROLE of the user","example":"{\"level\":\"doctor\",\"isverified\":\"yes\"}"},"description":"TAGS/ROLE of the user","example":{"level":"doctor","isverified":"yes"}}}},"VerifyAadhaarOtpWebPaylaod":{"required":["otp","txnId"],"type":"object","properties":{"otp":{"type":"string","description":"OTP recievied on the Aadhaar Linked Mobile Number","example":"Encrypted by PublicKey(989090)"},"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"},"restrictions":{"type":"string"}}},"TxnResponseDetails":{"type":"object","properties":{"txnId":{"type":"string","description":"Based on UUID","format":"uuid","example":"a825f76b-0696-40f3-864c-5a3a5b389a83"},"mobileNumber":{"type":"string","description":"Mobile number of the user.","example":"******2125"},"photo":{"type":"array","description":"Base64 string KYC Photo","example":"<Base 64 String>","items":{"type":"string","description":"Base64 string KYC Photo","format":"byte","example":"PEJhc2UgNjQgU3RyaW5nPg=="}},"gender":{"type":"string","description":"Gender of the User, M-Male, F-Female, T-Transgender","example":"M"},"name":{"type":"string","description":"Name of the User","example":"Ayushman Bharat"},"email":{"type":"string","description":"Email of the user","example":"user@nha.com"},"pincode":{"type":"string","description":"Pincode","example":"110011"},"birthdate":{"type":"string","description":"Date of Birth(dd-MM-YYY) or Year of Birth(YYYY).","example":"01-01-1990"},"careOf":{"type":"string","description":"Care of","example":"c/o Nha"},"house":{"type":"string","description":"house","example":"Jeewan Bharti building."},"street":{"type":"string","description":"street","example":"Janpath Road"},"landmark":{"type":"string","description":"Landmark","example":"Near Rajeev chowk metro station"},"locality":{"type":"string","description":"locality","example":"Connaught Place"},"villageTownCity":{"type":"string","description":"village Town City","example":"Connaught Place"},"subDist":{"type":"string","description":"Subdistrict Name","example":"New Delhi"},"district":{"type":"string","description":"District Name","example":"Central Delhi"},"state":{"type":"string","description":"State Name","example":"DELHI"},"postOffice":{"type":"string","description":"Post office","example":"New Delhi"},"address":{"type":"string","description":"Address","example":"9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001"}}},"VerifyMobileWebRequest":{"required":["otp","txnId"],"type":"object","properties":{"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"},"otp":{"type":"string","description":"Encrypted OTP.","example":"<Encrypted by publicKey(OTP)>"}}},"TxnResponse":{"type":"object","properties":{"txnId":{"type":"string","description":"Based on UUID","format":"uuid","example":"a825f76b-0696-40f3-864c-5a3a5b389a83"},"mobileNumber":{"type":"string","example":"******2125"}}},"AadhaarOtpWebRequestPayload":{"required":["consentVersion","iagree"],"type":"object","properties":{"aadhaar":{"type":"string","description":"Encrypted Aadhaar Number."},"iagree":{"type":"boolean","example":true},"consentVersion":{"type":"string","description":"consent version","example":"V1"}}},"VerifyEmailOTPRequest":{"required":["txnId"],"type":"object","properties":{"encryptedOtp":{"type":"string","description":"OTP recevied over the Email."},"txnId":{"type":"string","description":"Transaction ID","format":"uuid"}}},"EmailVerificationRegOTPRequest":{"required":["txnId"],"type":"object","properties":{"emailAddress":{"type":"string","description":"Valid Email Address of the Beneficiary.","example":"user@xyz.com"},"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"}}},"ResendEmailVerificationOTPRequest":{"required":["txnId"],"type":"object","properties":{"txnId":{"type":"string","description":"Transaction ID","format":"uuid"}}},"MobileDemographicAuthModelV2":{"required":["mobileNumber","txnId"],"type":"object","properties":{"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"},"mobileNumber":{"type":"string","description":"Mobile number(Must be Encrypted with public key) of the user. ","example":"9988776655"}}},"MobileDemographicAuthRespModel":{"type":"object","properties":{"verified":{"type":"boolean"}}},"CreateAccountWithPreVerifiedAadhaarV2":{"required":["email","txnId"],"type":"object","properties":{"idType":{"type":"string","example":"hpr_id"},"domainName":{"type":"string","example":"@hpr.abdm"},"email":{"type":"string","description":"Email Address of the user.(Must be Encrypted)","example":"user@abdm.com"},"firstName":{"type":"string","description":"First Name of the user.","example":"Ayushman"},"middleName":{"type":"string","description":"Middle name of the user.","example":"Bharat"},"lastName":{"type":"string","description":"Last name of the user.","example":"Mission"},"password":{"type":"string","description":"Passwords for authentication.","example":"Ayushman@143(Must be Encrypted)"},"profilePhoto":{"type":"string","description":"Profile photo of the user (Uploaded by the user).","example":"<BASE64 ENCODED STRING>"},"stateCode":{"type":"string","description":"State Code of the user (LGD).","example":"7"},"districtCode":{"type":"string","description":"District Code of the user (LGD).","example":"71"},"pincode":{"type":"string","description":"Pincode of the user.","example":"110001"},"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"},"hprId":{"type":"string","description":"Healthcare Professional ID Alias.","example":"user@hpr.abdm"},"hpCategoryCode":{"type":"integer","description":"Healthcare professional Category Code.","format":"int32","example":1},"hpSubCategoryCode":{"type":"integer","description":"Healthcare professional Sub Category Code.","format":"int32","example":1},"notifyUser":{"type":"boolean","description":"User will be notify for his/her Health Professional ID creation.","example":true}}},"CreateAccountJwtResponse":{"type":"object","properties":{"token":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"refreshToken":{"type":"string"},"refreshExpiresIn":{"type":"integer","format":"int64"},"hprIdNumber":{"type":"string"},"name":{"type":"string"},"gender":{"type":"string"},"yearOfBirth":{"type":"string"},"monthOfBirth":{"type":"string"},"dayOfBirth":{"type":"string"},"firstName":{"type":"string"},"hprId":{"type":"string"},"lastName":{"type":"string"},"middleName":{"type":"string"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"stateName":{"type":"string"},"districtName":{"type":"string"},"email":{"type":"string"},"kycPhoto":{"type":"string"},"mobile":{"type":"string"},"categoryId":{"type":"integer","format":"int32"},"subCategoryId":{"type":"integer","format":"int32"},"authMethods":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD"]}},"new":{"type":"boolean"},"categories":{"type":"object","additionalProperties":{"type":"string"}}}},"CreateHPIDAadhaarDemoAuthRequest":{"required":["aadhaar","address","consentVersion","districtCode","email","firstName","fullName","gender","iagree","mobileNumber","password","pincode","profilePhoto","stateCode","yearOfBirth"],"type":"object","properties":{"idType":{"type":"string","example":"hpr_id"},"domainName":{"type":"string","example":"@hpr.abdm"},"aadhaar":{"type":"string","description":"Encrypted AadhaarNumber(12-digits) or Virtual ID(16-Digits) or UidToken(72-Digits). (Must be Encrypted with public key)","example":"<EncryptWithPublicKey(216167293627)>"},"fullName":{"type":"string","description":"Full Name of the user.(Either provide full name or FirstName, MiddleName, Lastname)","example":"Ayushman Bharat Mission"},"firstName":{"type":"string","description":"First Name of the user.","example":"Ayushman"},"middleName":{"type":"string","description":"Middle name of the user.","example":"Bharat"},"lastName":{"type":"string","description":"Last name of the user.","example":"Mission"},"yearOfBirth":{"type":"string","description":"Year of birth of the user.","example":"2021"},"monthOfBirth":{"type":"string","description":"Month of birth of the user.","example":"8"},"dayOfBirth":{"type":"string","description":"Day of birth of the user.","example":"15"},"gender":{"type":"string","description":"Gender","example":"M","enum":["M, F, T, O"]},"mobileNumber":{"type":"string","description":"Mobile Number of the user.","example":"9988776655"},"email":{"type":"string","description":"Email Address of the user.","example":"user@abdm.com"},"stateCode":{"type":"string","description":"State Code of the user (LGD).","example":"7"},"districtCode":{"type":"string","description":"District Code of the user (LGD).","example":"71"},"pincode":{"type":"string","description":"Pincode of the user.","example":"110001"},"address":{"type":"string","description":"Address of the user.","example":"9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001"},"hprId":{"type":"string","description":"Healthcare Professional ID Alias.","example":"user@hpr.abdm"},"password":{"type":"string","description":"Passwords for authentication (Must be Encrypted with public key).","example":"<EncryptWithPublicKey(Ayushman@143)>"},"hpCategoryCode":{"type":"integer","description":"Healthcare professional Category Code.","format":"int32","example":1},"hpSubCategoryCode":{"type":"integer","description":"Healthcare professional Sub Category Code.","format":"int32","example":1},"iagree":{"type":"boolean","example":true},"consentVersion":{"type":"string","description":"consent version","example":"V1"},"profilePhoto":{"type":"string","description":"Profile photo of the user (Uploaded by the user).","example":"<BASE64 ENCODED STRING>"}}},"CreateAadhaarDemoAuthResponse":{"type":"object","properties":{"token":{"type":"string"},"hprIdNumber":{"type":"string"},"name":{"type":"string"},"hprId":{"type":"string"},"mobile":{"type":"string"},"hpCategoryId":{"type":"integer","format":"int32"},"hpSubCategoryId":{"type":"integer","format":"int32"},"new":{"type":"boolean"}}},"TransactionUUIDRequest":{"required":["txnId"],"type":"object","properties":{"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"},"preverifiedCheck":{"type":"boolean","description":"To check wheather HP ID account exist by Aadhaar Number before verification of mobile number, When set Value is true.","example":false}}},"CheckAccountResponse":{"type":"object","properties":{"txnId":{"type":"string","format":"uuid"},"token":{"type":"string"},"hprIdNumber":{"type":"string"},"name":{"type":"string"},"gender":{"type":"string"},"yearOfBirth":{"type":"string"},"monthOfBirth":{"type":"string"},"dayOfBirth":{"type":"string"},"firstName":{"type":"string"},"hprId":{"type":"string"},"lastName":{"type":"string"},"middleName":{"type":"string"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"stateName":{"type":"string"},"districtName":{"type":"string"},"address":{"type":"string"},"pincode":{"type":"string"},"email":{"type":"string"},"profilePhoto":{"type":"string"},"mobile":{"type":"string"},"categoryId":{"type":"integer","format":"int32"},"subCategoryId":{"type":"integer","format":"int32"},"categoryName":{"type":"string"},"categorySubName":{"type":"string"},"authMethods":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD"]}},"new":{"type":"boolean"},"categories":{"type":"object","additionalProperties":{"type":"string"}}}},"AuthAccountAadhaarOTPWebRequest":{"required":["otp","txnId"],"type":"object","properties":{"otp":{"type":"string","description":"OTP received over the Addhaar linked mobile number.","example":"<Encrypted by publicKey(OTP)>"},"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"}}},"RetrieveHprIdPayloadResponse":{"type":"object","properties":{"hprId":{"type":"string"},"hprIdNumber":{"type":"string"}}},"AadharNumberWebOptionalRequestPayload":{"required":["consentVersion","iagree"],"type":"object","properties":{"aadhaar":{"type":"string","description":"Encrypted Aadhaar Number."},"iagree":{"type":"boolean","example":true},"consentVersion":{"type":"string","description":"consent version","example":"V1"}}},"SearchByHpIdResetPasswordWebRequest":{"required":["hprId"],"type":"object","properties":{"idType":{"type":"string","example":"hpr_id"},"domainName":{"type":"string","example":"@hpr.abdm"},"hprId":{"type":"string","description":"Healthcare Professional ID  Number or Alias","example":"20-0878-1213-5055 or User@hpr.abdm"}}},"SearchAccountResetPasswordWebResponse":{"type":"object","properties":{"hprId":{"type":"string","description":"Healthcare Professional ID.","example":"AyushmanBharat@hpr.abdm"},"hprIdNumber":{"type":"string","description":"Healthcare Professional ID Number.","example":"71-4534-3432-4353"},"mobileNo":{"type":"string","description":"Mobile Number","example":"9999999999"},"txnId":{"type":"string","description":"Based on UUID","example":"a825f76b-0696-40f3-864c-5a3a5b389a83"}}},"ResendOTPRequest":{"required":["authMethod","txnId"],"type":"object","properties":{"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"},"authMethod":{"type":"string","description":"Authentication Mode","example":"MOBILE_OTP","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD","MOBILE_OTP"]}}},"HidResetPasswordWebRequestPayload":{"required":["newPassword","txnId"],"type":"object","properties":{"newPassword":{"type":"string","description":"Encrypted new Password."},"txnId":{"type":"string","description":"Transaction Id Number.","format":"uuid"}}},"MobileLinkedHpIdDTO":{"type":"object","properties":{"hprIdNumber":{"type":"string"},"name":{"type":"string"},"hprId":{"type":"string"},"categoryID":{"type":"integer","format":"int32"},"subCategoryID":{"type":"integer","format":"int32"}}},"MobileLinkedHpIdResponsePayload":{"type":"object","properties":{"txnId":{"type":"string","description":"Based on UUID","example":"a825f76b-0696-40f3-864c-5a3a5b389a83"},"mobileLinkedHpIdDTO":{"type":"array","items":{"$ref":"#/components/schemas/MobileLinkedHpIdDTO"}}}},"AuthLoginViaMobileRequest":{"required":["mobile"],"type":"object","properties":{"mobile":{"type":"string","description":"Registered Mobile number of User","example":"9988667788"}}},"MobileLoginRequest":{"required":["hpId","txnId"],"type":"object","properties":{"txnId":{"type":"string","description":"Based on UUID","format":"uuid","example":"a825f76b-0696-40f3-864c-5a3a5b389a83"},"hpId":{"type":"string","description":"Healthcare professional ID of the User","example":"72-2054-3723-8510"}}},"AuthWithPasswordWebRequest":{"required":["password","txnId"],"type":"object","properties":{"password":{"type":"string","description":"password","example":"Encrypted by publicKey(Ayeshman@143)"},"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"}}},"JwtResponse":{"type":"object","properties":{"token":{"type":"string"},"expiresIn":{"type":"integer","description":"Access Token expiry time","format":"int64","example":7200},"refreshToken":{"type":"string","description":"JWT Bearer Token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"},"refreshExpiresIn":{"type":"integer","description":"Refresh Token expiry time","format":"int64","example":86400}}},"AuthAccountMobileOtpWebRequest":{"required":["otp","txnId"],"type":"object","properties":{"otp":{"type":"string","description":"Encrypted OTP."},"txnId":{"type":"string","description":"Transaction Id Number.","format":"uuid"}}},"LoginPasswordRequest":{"required":["hprId","password"],"type":"object","properties":{"idType":{"type":"string","example":"hpr_id"},"domainName":{"type":"string","example":"@hpr.abdm"},"hprId":{"type":"string","description":"Healthcare Professional-ID  Number or Alias","example":"20-0878-1213-5055 or user@hpr.abdm"},"password":{"type":"string","description":"password","example":"Encrypted by publicKey(Ayeshman@143)"}}},"UpdateAccountWebRequest":{"type":"object","properties":{"firstName":{"type":"string","description":"First Name of the user).","example":"Ayushman"},"lastName":{"type":"string","description":"Last name of the user ","example":"Mission"},"middleName":{"type":"string","description":"Middle name of the user ","example":"Bharat"},"hprId":{"type":"string","description":"Healthcare Professional ID Alias.","example":"user@hpr.abdm"},"password":{"type":"string","description":"User Authentication password.","example":"Abdm@143"},"email":{"type":"string","description":"Email Address of the user.","example":"user@abdm.com"},"profilePhoto":{"type":"string","description":"Profile photo of the user (Uploaded by the user).","example":"<BASE64 ENCODED STRING>"},"stateCode":{"type":"string","description":"State Code of the user (LGD).","example":"7"},"districtCode":{"type":"string","description":"District Code of the user (LGD).","example":"71"},"subdistrictCode":{"type":"string","description":"Sub District Code of the user (LGD).","example":"1"},"villageCode":{"type":"string","description":"Village Code of the user (LGD)."},"townCode":{"type":"string","description":"Town Code of the user (LGD)."},"wardCode":{"type":"string","description":"Ward Code of the user (LGD)."},"pincode":{"type":"integer","description":"Pincode of the user.","format":"int32","example":110001},"address":{"type":"string","description":"Address of the user.","example":"9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001"},"yearOfBirth":{"type":"string","description":"Year of birth of the user.","example":"2021"},"monthOfBirth":{"type":"string","description":"Month of birth of the user.","example":"8"},"dayOfBirth":{"type":"string","description":"Day of birth of the user.","example":"15"},"hpCategoryCode":{"type":"integer","format":"int32","example":1},"hpSubCategoryCode":{"type":"integer","format":"int32","example":1}}},"UserDTO":{"type":"object","properties":{"hprIdNumber":{"type":"string"},"hprId":{"type":"string"},"mobile":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"yearOfBirth":{"type":"string"},"dayOfBirth":{"type":"string"},"monthOfBirth":{"type":"string"},"gender":{"type":"string"},"email":{"type":"string"},"profilePhoto":{"type":"string"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"subDistrictCode":{"type":"string"},"villageCode":{"type":"string"},"townCode":{"type":"string"},"wardCode":{"type":"string"},"pincode":{"type":"string"},"address":{"type":"string"},"kycPhoto":{"type":"string"},"stateName":{"type":"string"},"districtName":{"type":"string"},"subdistrictName":{"type":"string"},"villageName":{"type":"string"},"townName":{"type":"string"},"wardName":{"type":"string"},"authMethods":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","DEMOGRAPHICS","AADHAAR_BIO","EMAIL_OTP","MOBILE_OTP_RESET_PASSWROD"]}},"kycVerified":{"type":"boolean"},"verificationType":{"type":"string"},"verificationStatus":{"type":"string"},"categoryId":{"type":"integer","format":"int32"},"categoryName":{"type":"string"},"categorySubId":{"type":"integer","format":"int32"},"categorySubName":{"type":"string"},"new":{"type":"boolean"},"emailVerified":{"type":"boolean"},"categories":{"type":"object","additionalProperties":{"type":"string"}}}},"EmailVerificationOTPRequest":{"type":"object","properties":{"emailAddress":{"type":"string","description":"Email Address."}}},"EmailVerificationLinkRequest":{"type":"object","properties":{"emailAddress":{"type":"string","description":"Email Address."}}},"EmailCheckStatusRequest":{"required":["txnId"],"type":"object","properties":{"txnId":{"type":"string","description":"Transaction ID","format":"uuid","example":"c3b0c27d-e19d-4244-b8bb-3fa19285054a"}}},"HidChangePasswordWebRequestPayload":{"required":["newPassword","oldPassword"],"type":"object","properties":{"oldPassword":{"type":"string","description":"Encrypted old Password."},"newPassword":{"type":"string","description":"Encrypted new Password."}}},"HidOtpWebRequestPaylaod":{"required":["newPassword","otp","txnId"],"type":"object","properties":{"newPassword":{"type":"string","description":"Encrypted new Password."},"otp":{"type":"string","description":"Encrypted OTP."},"txnId":{"type":"string","format":"uuid"}}},"UpdateNewMobileNoRequestPayload":{"required":["authMethod","txnId"],"type":"object","properties":{"oldPassword":{"type":"string","description":"Encrypted User Password."},"otp":{"type":"string","description":"Encrypted Mobile/Aadhaar OTP."},"txnId":{"type":"string","description":"Transaction ID","format":"uuid"},"authMethod":{"type":"string","description":"Authentication Method","enum":["AADHAAR_OTP","MOBILE_OTP","PASSWORD","AADHAAR_OTP","MOBILE_OTP","PASSWORD"]}}},"UpdateMobileGenerateOTPPayload":{"required":["txnId"],"type":"object","properties":{"txnId":{"type":"string","format":"uuid"}}},"ResendOTPNewMobileRequest":{"required":["txnId"],"type":"object","properties":{"txnId":{"type":"string","format":"uuid"}}},"MobileNumberNewRequestPayload":{"type":"object","properties":{"newMobileNumber":{"type":"string","description":"Mobile Number need to update in Profile.","example":"9988776655"}}},"MobileUpdateHprResponse":{"type":"object","properties":{"status":{"type":"boolean"},"msgError":{"type":"string"}}},"ReKycResponse":{"type":"object","properties":{"status":{"type":"boolean"}}}},"securitySchemes":{"Authorization":{"type":"apiKey","description":"Provide the JWT token. JWT token can be obtained from the Authentication API.","name":"Authorization","in":"header"},"X-HIP-ID":{"type":"apiKey","description":"Provide the Unique Client ID (Optional).","name":"X-HIP-ID","in":"header"}}}}