{"swagger":"2.0","info":{"description":"The following are APIs hosted by HFR for public use.","version":"1.0","title":"HFR APIs","contact":{},"license":{"url":"http://unlicense.org"}},"host":"facility.abdm.gov.in","basePath":"/","tags":[{"name":"HFR-HRP Linkage APIs","description":"Facility Linkage APIs"},{"name":"Multiple HRP API","description":"HFR Bridge Api Controller"},{"name":"Onboarding APIs","description":"HFR Facility Onboarding APIs"},{"name":"Search","description":"HFR Search Facility APIs"},{"name":"Utilities","description":"HFR Master APIs and other Utility APIs"},{"name":"hfr-uwin-api-controller","description":"HFR Uwin API Controller"}],"paths":{"/v1.0/facility/search-bridges-facilities":{"post":{"tags":["Multiple HRP API"],"summary":"v1BridgesSearchFacilitiesPost","operationId":"v1BridgesSearchFacilitiesPostUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/SearchFacilitiesRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilitiesAndBridgesSearchedResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/additional-information":{"post":{"tags":["Onboarding APIs"],"summary":"Additional Facility Information","operationId":"v15FacilityAdditionalInformationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilityAdditionalInformationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilityOnboardResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/basic-information":{"post":{"tags":["Onboarding APIs"],"summary":"Basic Facility Information","operationId":"v15FacilityBasicInformationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilityBasicInformationRequest"}},{"name":"x-hprid-auth","in":"header","description":"x-hprid-auth","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilityOnboardResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/detailed-information":{"post":{"tags":["Onboarding APIs"],"summary":"Detailed Facility Information","operationId":"v15FacilityDetailedInformationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilityDetailedInformationRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilityOnboardResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/fetch-facility-Sub-type":{"post":{"tags":["Utilities"],"summary":"v15FetchFacilitySubTypes","operationId":"v15FetchFacilitySubTypesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilitySubTypeRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MasterDataResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/fetch-facility-type":{"post":{"tags":["Utilities"],"summary":"Get Facility Types Master list with parameters","operationId":"v15FetchFacilityTypesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilityTypeRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MasterDataResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/fetchFacilityContactDetails":{"post":{"tags":["HFR-HRP Linkage APIs"],"summary":"Facility Contact Details","operationId":"v15FetchFacilityContactDetailsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilityContactDetails"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilityContactResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/get-master-data":{"get":{"tags":["Utilities"],"summary":"Get Master data for a specific type","operationId":"v15FacilityGetMasterDataUsingGET","produces":["application/json"],"parameters":[{"name":"type","in":"query","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MasterDataResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/get-master-types":{"get":{"tags":["Utilities"],"summary":"Get the list of available Master types","operationId":"v15FacilityGetMasterTypesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MasterTypeResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/get-owner-subtype":{"post":{"tags":["Utilities"],"summary":"Get the list of ownership subtypes","operationId":"v15FacilityGetOwnershipSubtypeUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/OwnershipSubTypeRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MasterDataResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/get-specialities":{"post":{"tags":["Utilities"],"summary":"Get the list of specialities with respect to the system of medicine","operationId":"v15FacilityGetSpecialitiesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/SpecialitiesRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MasterDataResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/lgd/districts":{"get":{"tags":["Utilities"],"summary":"Get the list of districts in a given State as per LGD","operationId":"v15FacilityGetLGDDistrictsUsingGET","produces":["application/json"],"parameters":[{"name":"stateCode","in":"query","description":"stateCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LGDDistrictsResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/lgd/states":{"get":{"tags":["Utilities"],"summary":"Get the list of states as per LGD","operationId":"v15FacilityGetLGDStatesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LGDStatesResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/lgd/subdistricts":{"get":{"tags":["Utilities"],"summary":"Get the list of sub districts in a given district as per LGD","operationId":"v15FacilityGetLGDSubDistrictsUsingGET","produces":["application/json"],"parameters":[{"name":"districtCode","in":"query","description":"districtCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LGDSubDistrictsResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/search":{"post":{"tags":["Search"],"summary":"Search for facilities with fuzzy logic","operationId":"v15SearchFacilitiesFuzzyPostUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/SearchForFacilitiesRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SearchForFacilitiesResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/sendOtpToContact":{"post":{"tags":["HFR-HRP Linkage APIs"],"summary":"Send OTP to Contact","operationId":"v15SendOtpToContactUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilityContactDetails"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilityOtpResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/software-details":{"get":{"tags":["Utilities"],"summary":"Get the list of Softwares as per ABDM Compliant","operationId":"v15FacilityGetSoftwareDetailsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ABDMSoftwareResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/submit-facility":{"post":{"tags":["Onboarding APIs"],"summary":"Submit Facility Details","operationId":"v15SubmitFacilityDetailsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilitySubmitDetails"}},{"name":"x-hprid-auth","in":"header","description":"x-hprid-auth","required":true,"type":"string"},{"name":"x-hprid-auth-verifier","in":"header","description":"x-hprid-auth-verifier","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilitySubmitResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/validateOtp":{"post":{"tags":["HFR-HRP Linkage APIs"],"summary":"Validate OTP","operationId":"v15ValidateOtpUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/ValidateOtpRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilitySubmitResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.5/facility/validateUwinOtp":{"post":{"tags":["hfr-uwin-api-controller"],"summary":"v15ValidateUwinOtp","operationId":"v15ValidateUwinOtpUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/ValidateOtpRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UwinValidateOtpDetails"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1.6/facility/fetchDetailsForUwin":{"post":{"tags":["hfr-uwin-api-controller"],"summary":"v15FetchDetailsForUwin","operationId":"v15FetchDetailsForUwinUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/FacilityDetailsForUwin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacilityUwinResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/bridges/MutipleHRPAddUpdateServices":{"post":{"tags":["Multiple HRP API"],"summary":"v1MutipleHRPAddUpdateServices","operationId":"v1MutipleHRPAddUpdateServicesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"},{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/BridgeAddUpdate"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MultipleBridgeResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"ABDMSoftwareResponse":{"type":"object","properties":{"Category":{"type":"string"},"Products":{"type":"array","items":{"$ref":"#/definitions/SoftwareProducts"}}},"title":"ABDMSoftwareResponse"},"AbdmCompliantSoftware":{"type":"object","properties":{"existingSoftwares":{"type":"array","items":{"type":"string"}},"anyOther":{"type":"string"}},"title":"AbdmCompliantSoftware"},"BridgeAddUpdate":{"type":"object","properties":{"facilityId":{"type":"string"},"facilityName":{"type":"string"},"HRP":{"type":"array","items":{"$ref":"#/definitions/MultipleHRPRequest"}}},"title":"BridgeAddUpdate"},"Endpoints":{"type":"object","title":"Endpoints"},"Error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}},"title":"Error"},"ErrorStatus":{"type":"object","properties":{"field":{"type":"string"},"message":{"type":"string"}},"title":"ErrorStatus"},"FacilitiesAndBridgesSearchedResponse":{"type":"object","properties":{"facilities":{"type":"array","items":{"$ref":"#/definitions/SearchedFacilityDetails"}},"referenceNumber":{"type":"string"}},"title":"FacilitiesAndBridgesSearchedResponse"},"FacilityAdditionalInformationRequest":{"type":"object","properties":{"trackingId":{"type":"string"},"generalInformation":{"$ref":"#/definitions/FacilityGeneralInformation"},"linkedProgramIds":{"$ref":"#/definitions/FacilityLinkedProgramIds"}},"title":"FacilityAdditionalInformationRequest"},"FacilityAddress":{"type":"object","properties":{"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"addressType":{"type":"string"},"city":{"type":"string"},"district":{"type":"string"},"pincode":{"type":"string"},"state":{"type":"string"},"use":{"type":"string"}},"title":"FacilityAddress"},"FacilityBasicAttachment":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"FacilityBasicAttachment"},"FacilityBasicInfoAddress":{"type":"object","properties":{"country":{"type":"string"},"stateLGDCode":{"type":"string"},"districtLGDCode":{"type":"string"},"subDistrictLGDCode":{"type":"string"},"facilityRegion":{"type":"string"},"villageCityTownLGDCode":{"type":"string"},"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"pincode":{"type":"string"},"latitude":{"type":"string"},"longitude":{"type":"string"}},"title":"FacilityBasicInfoAddress"},"FacilityBasicInfoAddressProof":{"type":"object","properties":{"addressProofType":{"type":"string"},"addressProofAttachment":{"$ref":"#/definitions/FacilityBasicAttachment"}},"title":"FacilityBasicInfoAddressProof"},"FacilityBasicInfoContact":{"type":"object","properties":{"facilityContactNumber":{"type":"string"},"facilityEmailId":{"type":"string"},"facilityLandlineNumber":{"type":"string"},"facilityStdCode":{"type":"string"},"websiteLink":{"type":"string"}},"title":"FacilityBasicInfoContact"},"FacilityBasicInfoUploads":{"type":"object","properties":{"facilityBoardPhoto":{"$ref":"#/definitions/FacilityBasicAttachment"},"facilityBuildingPhoto":{"$ref":"#/definitions/FacilityBasicAttachment"}},"title":"FacilityBasicInfoUploads"},"FacilityBasicInformation":{"type":"object","properties":{"facilityName":{"type":"string"},"ownershipCode":{"type":"string"},"ownershipSubTypeCode":{"type":"string"},"ownershipSubTypeCode2":{"type":"string"},"facilityAddressDetails":{"$ref":"#/definitions/FacilityBasicInfoAddress"},"facilityContactInformation":{"$ref":"#/definitions/FacilityBasicInfoContact"},"systemOfMedicineCode":{"type":"string"},"facilityTypeCode":{"type":"string"},"facilitySubType":{"type":"string"},"specialityTypeCode":{"type":"string"},"typeOfServiceCode":{"type":"string"},"facilityOperationalStatus":{"type":"string"},"facilityUploads":{"$ref":"#/definitions/FacilityBasicInfoUploads"},"facilityAddressProof":{"type":"array","items":{"$ref":"#/definitions/FacilityBasicInfoAddressProof"}},"timingsOfFacility":{"type":"array","items":{"$ref":"#/definitions/FacilityTimings"}},"abdmCompliantSoftware":{"type":"array","items":{"$ref":"#/definitions/AbdmCompliantSoftware"}}},"title":"FacilityBasicInformation"},"FacilityBasicInformationRequest":{"type":"object","properties":{"trackingId":{"type":"string"},"facilityInformation":{"$ref":"#/definitions/FacilityBasicInformation"}},"title":"FacilityBasicInformationRequest"},"FacilityBloodBankDetails":{"type":"object","properties":{"isFacilityRegisteredInERaktkosh":{"type":"string"},"eRaktoshId":{"type":"string"},"bloodBankLicenseNumber":{"type":"string"},"bloodStorageCenters":{"type":"string"},"storageCentersCount":{"type":"integer","format":"int32"},"bloodCollectedPerAnnum":{"type":"string"},"bloodRequiredPerAnnum":{"type":"string"}},"title":"FacilityBloodBankDetails"},"FacilityContactDetails":{"type":"object","properties":{"facilityId":{"type":"string"}},"title":"FacilityContactDetails"},"FacilityContactResponse":{"type":"object","properties":{"facility":{"$ref":"#/definitions/FacilityId"},"status":{"type":"string"},"message":{"type":"string"},"errorStatus":{"type":"array","items":{"$ref":"#/definitions/ErrorStatus"}}},"title":"FacilityContactResponse"},"FacilityDetailedInformationRequest":{"type":"object","properties":{"trackingId":{"type":"string"},"specialities":{"type":"array","items":{"$ref":"#/definitions/FacilitySpecialities"}},"medicalInfrastructure":{"$ref":"#/definitions/FacilityMedicalInfrastructure"},"pharmacyDetails":{"$ref":"#/definitions/FacilityPharmacyDetails"},"bloodBankDetails":{"$ref":"#/definitions/FacilityBloodBankDetails"},"imagingServices":{"type":"array","items":{"$ref":"#/definitions/FacilityImagingServices"}},"diagnosticServices":{"type":"array","items":{"type":"string"}}},"title":"FacilityDetailedInformationRequest"},"FacilityDetailsForUwin":{"type":"object","properties":{"facilityId":{"type":"string"},"source":{"type":"string"},"sourceId":{"type":"string"}},"title":"FacilityDetailsForUwin"},"FacilityGeneralInformation":{"type":"object","properties":{"hasDialysisCenter":{"type":"string"},"hasPharmacy":{"type":"string"},"hasBloodBank":{"type":"string"},"hasCathLab":{"type":"string"},"hasDiagnosticLab":{"type":"string"},"hasImagingCenter":{"type":"string"},"servicesByImagingCenter":{"type":"array","items":{"$ref":"#/definitions/FacilityServices"}}},"title":"FacilityGeneralInformation"},"FacilityId":{"type":"object","properties":{"facilityId":{"type":"string"},"facilityName":{"type":"string"},"contactName":{"type":"string"},"contactMobile":{"type":"string"},"contactEmail":{"type":"string"},"hprid":{"type":"string"}},"title":"FacilityId"},"FacilityImagingServices":{"type":"object","properties":{"service":{"type":"string"},"count":{"type":"integer","format":"int32"}},"title":"FacilityImagingServices"},"FacilityLinkedProgramIds":{"type":"object","properties":{"nhrrId":{"type":"string"},"nin":{"type":"string"},"abpmjayId":{"type":"string"},"rohiniId":{"type":"string"},"echsId":{"type":"string"},"cghsId":{"type":"string"},"ceaRegistration":{"type":"string"},"stateInsuranceSchemeId":{"type":"string"}},"title":"FacilityLinkedProgramIds"},"FacilityMedicalInfrastructure":{"type":"object","properties":{"countHDUBedsWithFunctionalVentilators":{"type":"integer","format":"int32"},"countIPDBedsWithoutOxygen":{"type":"integer","format":"int32"},"countIPDBedsWithOxygen":{"type":"integer","format":"int32"},"countICUBedsWithVentilators":{"type":"integer","format":"int32"},"countICUBedsWithoutVentilators":{"type":"integer","format":"int32"},"countHDUBedsWithVentilators":{"type":"integer","format":"int32"},"countHDUBedsWithoutVentilators":{"type":"integer","format":"int32"},"totalNumberOfVentilators":{"type":"integer","format":"int32"},"countDayCareBedsWithoutOxygen":{"type":"integer","format":"int32"},"countDayCareBedsWithOxygen":{"type":"integer","format":"int32"},"countDentalChairs":{"type":"integer","format":"int32"},"totalNumberOfBeds":{"type":"integer","format":"int32"}},"title":"FacilityMedicalInfrastructure"},"FacilityOnboardResponse":{"type":"object","properties":{"trackingId":{"type":"string"},"errorStatus":{"type":"array","items":{"$ref":"#/definitions/ErrorStatus"}},"status":{"type":"string"},"message":{"type":"string"}},"title":"FacilityOnboardResponse"},"FacilityOtpResponse":{"type":"object","properties":{"facilityId":{"type":"string"},"status":{"type":"string"},"message":{"type":"string"},"transactionId":{"type":"string"},"errorStatus":{"type":"array","items":{"$ref":"#/definitions/ErrorStatus"}}},"title":"FacilityOtpResponse"},"FacilityPharmacyDetails":{"type":"object","properties":{"isJanAushadhiKendra":{"type":"string"},"janAushadhiKendraId":{"type":"string"},"drugLicenseNumber":{"type":"string"},"pharmacyGstinNumber":{"type":"string"},"pharmacistRegistrationNumber":{"type":"string"}},"title":"FacilityPharmacyDetails"},"FacilityServices":{"type":"object","properties":{"service":{"type":"string"},"count":{"type":"integer","format":"int32"}},"title":"FacilityServices"},"FacilitySpecialities":{"type":"object","properties":{"systemOfMedicineCode":{"type":"string"},"isSpecializationAvalaible":{"type":"string"},"specialities":{"type":"array","items":{"type":"string"}}},"title":"FacilitySpecialities"},"FacilitySubTypeRequest":{"type":"object","properties":{"facilityTypeCode":{"type":"string"}},"title":"FacilitySubTypeRequest"},"FacilitySubmitDetails":{"type":"object","properties":{"trackingId":{"type":"string"},"sourceOfInformation":{"type":"string"},"sourceUniqueID":{"type":"string"},"facilitySuperUser":{"type":"string"}},"title":"FacilitySubmitDetails"},"FacilitySubmitResponse":{"type":"object","properties":{"facilityId":{"type":"string"},"errorStatus":{"type":"array","items":{"$ref":"#/definitions/ErrorStatus"}},"status":{"type":"string"},"message":{"type":"string"}},"title":"FacilitySubmitResponse"},"FacilityTimings":{"type":"object","properties":{"workingDays":{"type":"string"},"openingHours":{"type":"string"}},"title":"FacilityTimings"},"FacilityTypeRequest":{"type":"object","properties":{"ownershipCode":{"type":"string"},"systemOfMedicineCode":{"type":"string"}},"title":"FacilityTypeRequest"},"FacilityUwinResponse":{"type":"object","properties":{"facility":{"$ref":"#/definitions/FacilityId"},"otherInformation":{"$ref":"#/definitions/OtherInfo"},"status":{"type":"string"},"message":{"type":"string"},"errorStatus":{"type":"array","items":{"$ref":"#/definitions/ErrorStatus"}}},"title":"FacilityUwinResponse"},"LGDDistrictsResponse":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"}},"title":"LGDDistrictsResponse"},"LGDStatesResponse":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"districts":{"type":"array","items":{"$ref":"#/definitions/LGDDistrictsResponse"}}},"title":"LGDStatesResponse"},"LGDSubDistrictsResponse":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"}},"title":"LGDSubDistrictsResponse"},"MasterData":{"type":"object","properties":{"code":{"type":"string"},"value":{"type":"string"}},"title":"MasterData"},"MasterDataResponse":{"type":"object","properties":{"type":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/definitions/MasterData"}}},"title":"MasterDataResponse"},"MasterType":{"type":"object","properties":{"type":{"type":"string"},"desc":{"type":"string"}},"title":"MasterType"},"MasterTypeResponse":{"type":"object","properties":{"masterTypes":{"type":"array","items":{"$ref":"#/definitions/MasterType"}}},"title":"MasterTypeResponse"},"MultipleBridgeResponse":{"type":"object","properties":{"error":{"$ref":"#/definitions/Error"},"servicesLinked":{"$ref":"#/definitions/Services"}},"title":"MultipleBridgeResponse"},"MultipleHRPRequest":{"type":"object","properties":{"bridgeId":{"type":"string"},"hipName":{"type":"string"},"type":{"type":"string"},"active":{"type":"boolean"}},"title":"MultipleHRPRequest"},"OtherInfo":{"type":"object","properties":{"facilityOwnership":{"type":"string"},"stateCode":{"type":"string"},"districtCode":{"type":"string"},"facilityRegion":{"type":"string"},"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"latitude":{"type":"string"},"longitude":{"type":"string"},"nin":{"type":"string"},"pincode":{"type":"string"},"subDistrict":{"type":"string"},"facilityType":{"type":"string"},"ownerSubtype":{"type":"string"}},"title":"OtherInfo"},"OwnershipSubTypeRequest":{"type":"object","properties":{"ownershipCode":{"type":"string"},"ownerSubtypeCode":{"type":"string"}},"title":"OwnershipSubTypeRequest"},"SearchFacilitiesData":{"type":"object","properties":{"facilityId":{"type":"string"},"facilityName":{"type":"string"},"ownership":{"type":"string"},"ownershipCode":{"type":"string"},"stateName":{"type":"string"},"stateLGDCode":{"type":"string"},"districtName":{"type":"string"},"subDistrictName":{"type":"string"},"villageCityTownName":{"type":"string"},"districtLGDCode":{"type":"string"},"subDistrictLGDCode":{"type":"string"},"villageCityTownLGDCode":{"type":"string"},"address":{"type":"string"},"pincode":{"type":"string"},"latitude":{"type":"string"},"longitude":{"type":"string"},"systemOfMedicineCode":{"type":"string"},"systemOfMedicine":{"type":"string"},"facilityTypeCode":{"type":"string"},"facilityStatus":{"type":"string"},"facilityType":{"type":"string"}},"title":"SearchFacilitiesData"},"SearchFacilitiesRequest":{"type":"object","properties":{"facility":{"$ref":"#/definitions/SearchFacilitiesRequestFacility"},"requestId":{"type":"string","format":"uuid"},"timestamp":{"type":"string"}},"title":"SearchFacilitiesRequest"},"SearchFacilitiesRequestFacility":{"type":"object","properties":{"district":{"type":"string"},"facilityName":{"type":"string"},"facilityType":{"type":"string"},"ownership":{"type":"string"},"photo":{"type":"string"},"state":{"type":"string"},"systemOfMedicine":{"type":"string"}},"title":"SearchFacilitiesRequestFacility"},"SearchForFacilitiesRequest":{"type":"object","properties":{"ownershipCode":{"type":"string"},"stateLGDCode":{"type":"string"},"districtLGDCode":{"type":"string"},"subDistrictLGDCode":{"type":"string"},"pincode":{"type":"string"},"facilityName":{"type":"string"},"facilityId":{"type":"string"},"page":{"type":"integer","format":"int32"},"resultsPerPage":{"type":"integer","format":"int32"}},"title":"SearchForFacilitiesRequest"},"SearchForFacilitiesResponse":{"type":"object","properties":{"message":{"type":"string"},"facilities":{"type":"array","items":{"$ref":"#/definitions/SearchFacilitiesData"}},"totalFacilities":{"type":"integer","format":"int32"},"numberOfPages":{"type":"integer","format":"int32"}},"title":"SearchForFacilitiesResponse"},"SearchedFacilityDetails":{"type":"object","properties":{"active":{"type":"string"},"address":{"$ref":"#/definitions/FacilityAddress"},"contactNumber":{"type":"integer","format":"int64"},"docDepartment":{"type":"string"},"docDesignation":{"type":"string"},"facilityProfileStatus":{"type":"string"},"facilityType":{"type":"string"},"hipId":{"type":"string"},"hipName":{"type":"string"},"id":{"type":"string"},"langitude":{"type":"string"},"latitude":{"type":"string"},"name":{"type":"string"},"photo":{"type":"string"},"systemOfMedicine":{"type":"string"},"transactionId":{"type":"string"}},"title":"SearchedFacilityDetails"},"Services":{"type":"object","properties":{"active":{"type":"boolean"},"endpoints":{"$ref":"#/definitions/Endpoints"},"id":{"type":"string"},"name":{"type":"string"},"types":{"type":"array","items":{"type":"string"}}},"title":"Services"},"SoftwareProducts":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"}},"title":"SoftwareProducts"},"SpecialitiesRequest":{"type":"object","properties":{"systemOfMedicineCode":{"type":"string"}},"title":"SpecialitiesRequest"},"UwinValidateOtpDetails":{"type":"object","properties":{"facilityId":{"type":"string"},"status":{"type":"string"},"message":{"type":"string"},"otherInformation":{"$ref":"#/definitions/OtherInfo"},"errorStatus":{"type":"array","items":{"$ref":"#/definitions/ErrorStatus"}}},"title":"UwinValidateOtpDetails"},"ValidateOtpRequest":{"type":"object","properties":{"facilityId":{"type":"string"},"sourceId":{"type":"string"},"otp":{"type":"string"},"source":{"type":"string"},"transactionId":{"type":"string"}},"title":"ValidateOtpRequest"}}}